.border-left{display:flex;}
.line-weight {
    background: #FFAE05;
    height: 66px;
    width: 5px;
    margin-top: 6px;
    margin-right: 5px;
}
.line-weight.long{
	height: 142px !important;
}

ul.list-texts li::marker {
    font-size: 12px;
}
.previous_btn {background-color:#2e9fd7 !important;}

.nvr i {
    font-size: 1.6em;
}

.icn-prev:before {
    content: "\e90e";
    font-size: 14px;
    position: relative;
    top: -3px;
    font-weight: bolder;
}

.icn-next:before {
    content: "\e90f";
	 font-size: 14px;
    position: relative;
    top: -3px;
    font-weight: bolder;
}

.comment-navs a.slick-arrow {
    color: #05294f !important;
    font-family: 'filsonbold' !important;
    font-size: 16px !important;
    display: flex;
    align-items: center;
    padding: 0 20px !important;
}


.btn-guide-submit {
    color: #fff;
    border: none;
	padding: 0px !important;
	border: 0px !important;
	margin-right: 10px;
	-webkit-transition: none !important;
		transition: none !important;
	font-size: 26px;
	
}
.btn-guide-submit:hover{
	background-color: transparent !important;
	border: 0px !important;
	
}
.btn-guide-submit:hover:after{
	content: none !important;
	padding: 0px !important;
}

.hero_bg_img {background-size:unset;background-position-x: 0em;}

.box-link-head {
  font-size:22px;
  font-family:'filsonbold';
  padding-bottom:10px;
  padding-top:10px;
  }

#box-link img {
  margin-top:30px;
  
}

.nvr, .box-link-text {
  padding-right:100px;
  padding-top:0px !important;
  font-size:15px;
}

.already {
	margin-top:30px;
	margin-bottom:100px;
}

/***************************************************************BOX HOVER_IP***************************/

#breadcrumbs a {
    	color: #00294f;
/*     	font-weight: 500; */
    	margin-right: 15px;
    	font-size: 14px;
/*     	font-family: 'filsonmedium' !important; */
    	letter-spacing: 0px;
	}

.auto_car_slider_title {
		font-family: 'filsonmedium';
		font-weight: 500 !important;
		line-height:1em;
		letter-spacing:1px;
		font-size:calc(52px + (74 - 52)*((100vw - 320px)/(1920 - 320))) !important;	
	}
	.auto_car_slider_description {
		font-family: 'filsonmedium';
		font-weight: 100 !important;
		line-height: 1em;
    	letter-spacing: 1px;
		font-size:calc(26px + (38 - 26)*((100vw - 320px)/(1920 - 320))) !important;	
	}
	.heading-tittle-ip {
		font-family: 'filsonmedium';
		font-weight: 500 !important;
		line-height:1em;
		letter-spacing:1px;
		font-size:calc(52px + (74 - 52)*((100vw - 320px)/(1920 - 320))) !important;		
	}

	.sub-heading-ip  {
		line-height: 1.2em;
    	letter-spacing: 1px;
		font-family:'filsonmedium';
		font-size:calc(26px + (38 - 26)*((100vw - 320px)/(1920 - 320))) !important;		
	}

	.body_heading_text_h2_page h2 {
  		font-family: 'filsonmedium';
		font-weight: 500 !important;
  		
	}
	.phar_text_ap p, .list-possible li {
		font-size:calc(14px + (16 - 14)*((100vw - 320px)/(1920 - 320))) !important;	
		color:#00294f;
	}
	.auto_car_slider_link {
		background-color: #FFAE04;
	}

	#side-nav-section {
    	position: absolute!important;
    	z-index: 41;
    	padding-top: 139px;
    	padding-bottom: 59.5px;
    	padding-left: 3%;
    	background-color: #00294F!important;
    	transform: translateX(90.3em)!important;
    	width: 22%;
 	}
	.rowsss {
		width:85% !important;
	}
	.auto_car_slider_bg {
		padding-left:1.5%;
	}

	.hover_overtext {
		padding-right:110px;
		padding-left:40px;
  		padding-bottom:40px;
	}

	.form_header_home h2 {
		font-size:calc(28px + (46 - 28)*((100vw - 320px)/(1920 - 320))) !important;	
	}

	.form_header_ip,.form_header_home {
		padding-top:100px;
	}
	.possible-deals-text {
		padding-top:100px;
		width:95%;
	}
	.dashed-pointer {
    	position: relative;
    	width: 850px ;
    	top: -40px;
	}
	#custom_btn_number {
		width:220px !important;
	}

	.expert_car_col {
		padding-left:6%;
	}

	.box-link1, .box-link2, .box-link3, .box-link4, .box-link5, .box-link6 {
    	border: solid 1px #05294d;
    	width: 44%;
    	height: auto;
    	padding: 0 5px 70px 25px;
    	color: #05294d ;
    	font-family: 'filsonlight';
    	line-height: 1.8em;
    	background-color: #fff;
}
	


/*************************************************HOME PULSE NAVIGATION**************************/

.hr-dashed {
  position:relative;
  top:-20px;
	left:45px !important;
  border-left:3px dashed #ffae02 ;
  height:73px;
}

.hi-icon-wrap.hi-icon-effect-8 {
    display: flex;
}

	.hi-icon-wrap.hi-icon-effect-8 p {
   		padding-top:40px;
  		color:#fff;
  		font-size: 16px;   
    	font-family: 'filsonbold' !important;
    	line-height: 1.4em;
  		letter-spacing: 1px;
	}

	.hi-icon.hi-icon-archive img {
  		position:relative;
  		top:18px;
	}

	#set-8 {
  		display:flex;
  		align-items:flex-start;
  		flex-direction:column;
		width:100%;
	}

.hi-icon {
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
  margin: 20px 35px 20px 0px !important;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff ;
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box; 
  -moz-box-sizing: content-box; 
  box-sizing: content-box;
}



.hi-icon:before {
  font-family: 'ecoicon';
  speak: none;
  font-size: 48px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.hi-icon-effect-8 .hi-icon {
        background: #FFAE05 !important;
        -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
        -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
        transition: transform ease-out 0.1s, background 0.2s;
	
	
}

.hi-icon-effect-8 .hi-icon:after {			
        top: -2px;
        left: -1px !important;
        padding: 0;
        z-index: -1;
  		border:.5px solid #ffae05 !important;
        opacity: 2;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
	
}

.no-touch .hi-icon-effect-8 .hi-icon:hover {
        background: rgba(255,255,255,1);
        -webkit-transform: scale(0.93);
        -moz-transform: scale(0.93);
        -ms-transform: scale(0.93);
        transform: scale(0.93);
        color: #fff;
	
	
	
}

.hi-icon-effect-8 .hi-icon:hover:after {
  		 
        -webkit-animation: sonarEffect 1.3s ease-out 75ms;
        -moz-animation: sonarEffect 1.3s ease-out 75ms; 
    animation: sonarEffect 1.3s ease-out 75ms;  

}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
@-moz-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
    -moz-transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes sonarEffect {
  0% {border:1.9px dashed #ffae05;opacity: 0.3;}
  10% {border:1.9px dashed #ffae05;opacity: 0.5;}
  40% {border:1.9px dashed #ffae05;opacity: 0.5;}
  100% {border:1.9px dashed #ffae05;transform: scale(1.5);opacity: 0.2;}
}

/***********************************************HOME PULSE NAVIGATION**************************/


.icon-right:before {content: "\25B6"!important; color:orange; font-size:12px !important; margin:10px;} 
.page-navigation  {font-size:14px;}

	#hover_boxes {
		display:flex;
		gap:25px;
		flex-wrap:wrap;
	}
	.txt-hover-img {
  		border:solid 1px #001930;
  		width:430px;
  		height:auto;
	}

	.possible_text_column {
		padding-left:7%;
	}

		#put-u-first {
			position:relative;
			left:-35px;
			padding-left:6%;
			background-image: linear-gradient(180deg,#05294D 87%,#001830 87%);
	}

	.call-txt-free-quote-module {
		width:70%;
	}

	.asdf {
		width:75%;
		margin-left:auto;
		margin-right:auto;
	}

	.apply-btn {
		width:26%;
	}

	.box-icontent p {
		font-family:'filsonlight';
		padding: 0 16% 0 0;		
	}
	.box-icontent h3 {
		color:#00294f;
	}
	.blur-content-module {
		padding-right:20%;
		padding-bottom:10%;
	}

#home-side-nav-section { position:absolute !important; z-index: 41;padding-top: 139px;
    padding-bottom: 239.5px;
    padding-left: 3%;
    background-color: #00294F!important; 
	transform:translateX(90em) !important;
  	width:424px;
  	left:5px;
}
.slider-navs {
    position: absolute;
    bottom: -240px;
    right: 274px;
    width: 220px;
}

/***************************************************************NAV_MENU***S**/

 #hero-logo-column {width: 16%;} 

.sub-menu a:hover {color:#fff;}

.et-menu .menu-item-has-children>a:first-child:after {
    content: "\25BC"!important;
    color:#FFAE04;
	font-size:11px !important;
}
/***************************************************************NAV_MENU***E**/

#main-contact, input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
color:#00294f;
}

/***************************************************************HOME FORM***S**/

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
	color:#fff;
}

	.home-form {
		display: flex;
		flex-direction: row;
		color: #fff;
		gap:30px;
		font-size: 16px;
	}
	#apply-btn {
		border-radius: 0;
		border: none;
		background-color: #FFAC04;
		color: #fff;
		padding: 15px 70px;
		font-size: 16px;
		font-family:'filsonregular';
		cursor:pointer;
		
	} 

#apply-btn::after {display:none;}

	#amount-finance option {
		color:#00294f;
	}

	select#amount-finance, input#amount-finance{
    	background-color: transparent;
		border-left:0;
		border-right:0;
		border-top:0;
		padding-left:0;
		color:#fff;
    	border-bottom: solid #bbbbbb57 1px;
   		width: 380px;	    
	}



	input.text, input.title, input[type=email], input[type=password], input[type=tel], input[type=text], select, textarea {
    	background-color: transparent;
    	border: 1px solid #bbbbbb57;
    	padding-bottom: 20px;
    	color: hsl(0deg 0% 100% / 90%);
		font-family: 'filsonlight';
	}
	
	div#form-home-btn {
    	margin-top: -10px;
	}

	
/***************************************************************HOME FORM***E**/



/**************************************************************MAIN FORM****S**/
	.body-sub-head-form {
		font-family:'filsonmedium';
		color:#00294f;
		font-size:32px;
		margin-top:30px;
		
	}

	#form_module, .dropdown-box {
    	width: 69% !important;
	}

	#form_module, .frr {
		background-color:transparent;				
	}

 	#form_module,.et_pb_contact_select {
		padding: 0px 0px 20px 0px !important;
	} 



#form_module,select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required.et_pb_contact_select.input.frr.auto-car-field {
    width: 350px;
}

#form_module,.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number.landline-box.auto-car-field {
	width:350px;
}

#form_module,.wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number.mobile-box.auto-car-field {
	width:350px;
}
	

	#auto-car-field-button {
		border: none;
    	background-color: #ffae05;
    	border-radius: 0;
    	color: #fff;
    	font-size: 16px;
    	padding: 13px 81px;
    	font-family: 'filsonregular';
	}


	.steps p {
		margin-bottom:90px;		
		color: #2e9fd7;
   	 	font-size: 22px;
    	font-family: 'filsonbold';
	}

/**************************************************************MAIN FORM****E**/



/***********************************************************START page FORM****/
	#form_module {
		width:72%;
	} 
	.row-form-section {
		display:flex;
		gap:30px;
		padding-bottom:15px;
	}

	
	input#auto-car-field-button {
		border: none;
		background-color: #ffae02;
		color:#fff; padding:20px 90px;
		font-size: 18px;
	}
	input#auto-car-field-button:hover {
		background-color:#00294F;
		color:#fff;
	}
	
    input.dropdown-box {
		width: 731px !important;
	}
	input.post-code {
		width:200px ;
	}
	select.frr {
		width:350px;
	}
	.auto-car-field {
		font-size:16px;
		font-family:'filsonlight';
	}

	select.state-box, select.frr,
	input.landline-box, input.mobile-box {
		border-left:0;
		border-right:0;
		border-top:0;
		width:100%;
		border-bottom: solid #bbbbbb57 1px;
	}

	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
   		border-left: 0;
    	border-right: 0;
    	border-top: 0;
		background-color:transparent;
		width: 100%;
	}

	#put-u-first-ip {
		left:0px;
		padding-left: 6%;
    	padding-bottom: 30px;
		background-image: linear-gradient(180deg,#05294D 86%,#001830 86%);
	}



/************************************************************END page FORM*****/



	ul.list-possible {
  		list-style-type:none;
  		list-style:url('http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/03/bullet.png');
  	} 


	#side-nav-section {
		position: absolute !important;
		top: 0px;
		bottom: auto;
		right: auto;
		transform: translateX(91em) ;
	}

	#side-nav-pulse {
    	background-color: #00294f;
    	padding-top: 139px;
    	padding-right: 20px;
    	padding-bottom: 87px;
    	padding-left: 20px;
    	z-index: 500!important;
    	right: auto;
    	position: relative;
	}

	#nvr-been-easy h3 {
		font-size:32px;
		font-family: 'filsonmedium';
    	font-weight: 500;
	}

	.tab-icons {
		padding-left:80px;
		padding-right:50px;
		width:93%;
	}

/* 	.tab-icons .list-text {
		color:#00294f !important;
		border-left: solid 7px #ffae05;
		padding-left: 2em ;
		
	} */

	.tab-icons p {
		color:#00294f !important;
	}

	h5.et_pb_toggle_title {
    	padding-bottom: 10px !important;
    	padding-top: 10px !important;
		font-size:28px;
		font-family:'filsonmedium' !important;
		font-weight:400 !important;
	}

	.list-possible, .entry-content ul {
    	padding: 0px 0 0px 27px;
	}

/**********************************************************Blur form Section***START*/

		input.btn-guide-submit {
    	border: none;
    	background: transparent;
    	color: white;
    	font-size: 26px;
    	font-family: 'filsonmedium';
    	letter-spacing: 1px;
	}

	.wpcf7-not-valid-tip {
    	color: #fff;
    	font-size: 1em;
    	font-weight: normal;
    	position: absolute;
    	top: 50px;
    	left: 1px;
		font-size:14px;
	}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
    border-color:none !important;
}

	.wpcf7 form .wpcf7-response-output {
    	margin: 0em 0em 0em;
    	padding: 0em 0em;
 		border: none !important;
    	position: absolute;
    	top: 85%;
    	left: 15%;
    	color: #fff;
		font-size:14px;
	}
	
	.blur-contact-container {display: flex;gap: 20px; padding-left: 145px;}

	.blur-qoute-content {width:80%;
	}

	input.blur-contact-field {
		border-left:0;
		border-right:0;
		border-top:0;
		border-color:White;
	}

	input.btn-guide-submit {
		border:none;
		background:transparent;
		color:white;
		font-size:24px;
	}

	#blur-submit-btn {
		width:100%;
		background-color:#FFAC05;
		padding:32px 135px;
		margin-top: 86px;
		position: relative;
		
	}

.wpcf7-form-control, .has-spinner, .wpcf7-submit, .btn-guide-submit {
	cursor:pointer;
}


	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.blur-contact-field {background:transparent;
		width:95%;
		font-size:14px;
		border-bottom:.5px solid #bbbbbba3;
		color:#fff;
	}

	#blur-column {
		padding-left:170px;
		background: rgba(100,100,100,0.1);
		backdrop-filter: blur(12px);
	}

	#blur-free-quote {
		position:relative;
		padding-top:20.5px;
		padding-bottom:21px;
		padding-left:100px;
		left: -15px;
		top: 130px;
	}

	#blur-contact-section {width: 90%;
	}

	.pad-blur-row {padding-left:170px;
	}

	.blur_discover_heading_text, {
		font-size:calc(32px + (46 - 32)*((100vw - 320px)/(1920 - 320))) !important;
	}

	.blur-content-module p {
		font-size:calc(14px + (16 - 14)*((100vw - 320px)/(1920 - 320))) !important;
	}

/* 	.blur-content-text {
		font-size:calc(14px + (18 - 14)*((100vw - 320px)/(1920 - 320))) !important;
	}
 */
/********************************************************************Blur form Section**END*/



/*********************************************************************CONTENT BOX GRID**********S*/
	.blurb_text_mod,.et_pb_blurb_description {
		font-size:calc(14px + (16 - 14)*((100vw - 320px)/(1920 - 320))) !important;	
		padding-right: 30px;
   		font-family: 'filsonregular' !important;
	}

 .blurb_content .blurb-copy {
		font-size:calc(14px + (16 - 14)*((100vw - 320px)/(1920 - 320))) !important;	
		padding-right: 30px;
   		font-family: 'filsonlight' !important;
	} 


	#blurbox_about {
		top:38% !important;
	}
	#blurbox_bepart {
		top:38% !important;
	}
	#blurbox_tnt {
		top:37% !important;  
  	}
	#blurbox_emf {
		top:38% !important;  
  	} 
	#blurbox_ygf {
		top:38% !important;  
  	} 
	#blurbox_db {
		top:39% !important;
	}
	#blurbox_cf {
		top:41% !important;
	}
	#blurbox_lb, #blurbox_cpf, #blurbox_ge, #blurbox_psnl {
		top:39% !important;
	}
	#blurbox_clic {
		top:38% !important;
	}
	#blurbox_tbs {
		top:38% !important;
	}
	#blurbox_df, #blurbox_salryp, #blurbox_fleet{
		top:38% !important;
	}
	
	#blurbox_partnering, #blurbox_refferal  {
		top:40% !important;
	}

#blurbox_fe {top:46% !important;}



	.blurb_box_row {
		transform:translateX(687px) !important; 
		width: 60%;
    	max-width: 1400px;
 		margin-right:443px;
  		margin-left:auto;
		position:absolute !important;
		
		
}

	.blurb_box_col {
  		padding-top:0;
  		padding-bottom:100px;
  		padding-right:20px;
  		padding-left:30px;
	}
	.blurb_box_col1 {
  		padding-top:0;
  		padding-bottom:30px;
  		padding-right:20px;
  		padding-left:30px;
	}

.blurb_content {
	margin-bottom:80px !important;
}

	.blurb_btn {
		bottom: 30px;
    	top: auto;
    	left: 30px;
    	right: auto;
	}

	.blurb_img_mod {
  		padding-top:225px;
		padding-bottom:10px;
	}

	.blurb_img_mod1 {
  		padding-top:280px;
	}

	.blurb_btn_row {
  		position:absolute !important;
		bottom: 6em;
  		right: 263px;
  		width:50%;
	}

/*****************************/





.apply-btn {
	color: #fff !important;
    border-color: rgba(0,0,0,0);
    border-radius: 0px;
    font-size: 15px;
    font-family: 'filsonlight',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 600!important;
    background-color: #FFAE05;
  	margin-top:50px;
  	padding:15px 47px;  	
  	text-align:center;
  	position:relative;
	cursor:pointer;
  	}	

	a.apply-btn .icn-next-long {  
		font-size: 0.7em;
 		margin-left: 10px;
	}

	.apply-btn:hover {
		background-color:#ffae04 !important;
	
	}


.content_box {
		display:flex;
		gap:30px;
		position:relative;
	}

	.content_img_text {
  		background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2021/12/car-lease-deal-820x510-1.jpg);
  		background-repeat:no-repeat;
  		height:600px;
  		background-size: cover;
  		color:#fff;
	}

	.inner_img_text {
    	padding: 200px 20px 70px;
		font-family:'filsonregular';
		color:#fff;
	}

	.bepart_content_box_ip_row{	
		max-width: 1212px;
    	left: 42.5em;
		bottom:100px;		
		width: 100%;
		position: absolute;
	}
	.bepart_content_box_ip_col {
    	width: 95.4% !important;
	}

/* 	.content_box_ip_row {
    	max-width: 1920px;
    	width: 63.5%;
    	position: absolute;
    	top: 29em;
    	left: 39em;
		display:grid;
	}
	.content_box_ip_col {
    	width: 61.7%;
	} */
	.number {
		font-family:'filsonmedium';
		color:white;
		font-size:14px;
		padding:10px 20px;
	}

	#gallery-cta {
		position:relative;
	}

	.content_img_text1,.content_img_text2,.content_img_text3 {
		background-repeat:no-repeat;
		background-size:cover;
		width:650px;
	}

 	.content_img_text1 {
  		background-image:url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-22.png);
	}

	.content_img_text2 {
  		background-image:url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-23.png);
	}

	.content_img_text3 {
  		background-image:url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-24.png);
	} 

	.number-grid-box {
		text-align:right;
		font-size:14px;
		color:#fff;
		position: absolute;
    	top: 12px;
    	right: -2px;
	}

/**********************************************************************CONTENT BOX GRID*********E*/


body #page-container .et_pb_section .et_pb_contact_form_0.et_pb_contact_form_container.et_pb_module .et_pb_button {
    color: #ffff!important;
    border-width: 0px!important;
    background-color: #ffae02;
    width: 960px;
    height: 100px;
    margin-top: 50px;
}

.entry-content table:not(.variations) {
  border: 1px solid #eee;
    margin: 0 0 15px;
    text-align: left;
    width: 45%;
}

.topnav {
  overflow: hidden;
	width: 1015px;
}


#links-item {
  position:relative;
  left:100px;
}

.heading-tittle {
	font-size:74px;
	font-family:'filsonbold';
	margin-bottom:-30px;
}

	.sub-heading {
		font-size:36px;
		font-family:'filsonregular';
}

	.heading2 {
		font-size:calc(38px + (46 - 38)*((100vw - 320px)/(1920 - 320))) !important;
		color:#00294f !important;
	}

	.body-sub-head {
		font-size:calc(22px + (30 - 22)*((100vw - 320px)/(1920 - 320))) !important;
		padding-bottom: 30px;
    	color: #00294f !important;
		font-family:'filsonmedium';
	}

	#bg-gradient-section-blog {
		background-image: linear-gradient(90deg,rgba(0,0,0,0) 1454px,#edf4fc 0%);
		display:flex;
		gap:50px;
		flex-wrap:wrap;
	}

/***************************************************************************************/

.bg-gradient-section {
	background-image: linear-gradient(90deg,rgba(0,0,0,0) 1454px,#edf4fc 0%);
}

	.hero-bg-img-row {
		background-size: 41%;
		background-position:unset;
		height:1192px;
	}

#bg-img-row {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-21.png);}  

#bg-img-row1 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);} 

#bg-img-row2 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);}  

#bg-img-row3 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);}  

#bg-img-row4 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);}  

#bg-img-row5 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);}  

#bg-img-row6 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);}  

#bg-img-row7 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);}  

#bg-img-row8 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);}  

#bg-img-row9 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);}  

#bg-img-row10 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);}

#bg-img-row111 {   
	background-image: url(http://autocarinsurance.dilatedigital.com.au/wp-content/uploads/2022/01/Layer-34.png);}



.grid-img {
  display:flex;
   gap:1px;  
}

/********************************************************************************/
@media only screen and (max-width: 320px) {
	
	#form_module {
		width:100% !important;
	}
	
	#set-8 {
		margin-left: auto;
    	width: 70%;
		margin-right: auto;
	}
	.auto_car_slider_bg {
		padding-left:0;
	}
	.auto_car_slider_title {
		margin-top:68%;
	}
	.comment-box {
		width:320px !important;
	}
	.slick-track {
		width: 6300px!important;
	}
	#home-side-nav-section {
		position:unset !important;
		transform: translateX(0em)!important;
		width:100%;
		padding-left:0;
		padding-top:100px;
		padding-bottom:50px;
	}
	#side-nav-section {
    	position: unset!important;
    	top: 0px;
    	bottom: auto;
    	right: auto;
    	transform: translateX(0em) !important;
    	width: 100%;
		padding-left:0;
	}
	#hover_boxes {
    	flex-wrap: nowrap;
	}
	.hover_overtext  {
		width:300px;
		padding-right:20px;
	}
	
	.possible-row {
    	padding-left:0;
	}
	
	.slider-navs {
		display:none;
	}
	#put-u-first {
		left:0;
		padding:1% 0;
		background-image: linear-gradient(180deg,#05294D 84%,#001830 84%);
	}
	
	.row-form-section {display:block;}
	
	input.dropdown-box {
    width: 100%!important;
}
	
	#form_module, select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required.et_pb_contact_select.input.frr.auto-car-field {
    	width: 100%;
		text-align: center;
		margin-bottom:10px;
}
	
	#form_module, .wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number.mobile-box.auto-car-field {
    	width: 100%;
		text-align: center;
		margin-bottom:10px;
}
	
	#form_module, .wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number.landline-box.auto-car-field {
    	width: 100%;
		text-align: center;
		margin-bottom:10px;
}
	
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:100%;
		text-align:center;
		margin-bottom:10px;
	}
	
	.home-form {
		
		padding: 0 4% 0 4%;
	} 
	input#apply-btn {
		width:100%;
	}
	#form-home-btn {
    	padding: 0 4% 0 4%;
	}
	
	.home-form {
    	text-align: center;
    	flex-direction: column;
	}
	#form-home-btn {
    	text-align: center;
	}
	
	.call-txt-free-quote-module {
    	width: 90%;
    	margin-left: auto;
    	margin-right: auto;
		text-align:center;
	}
		
	
	select#amount-finance, input#amount-finance {
		width:100%;
		text-align:center;
	}
	.blur-content-module {
		padding-right:0;
	}
	.blur-contact-container {
		flex-direction:column;
		padding-left:4%;
	}
	#blur-free-quote {
		padding-left:0;
		left:0;
		top:0;
	}
	.blur-qoute-content {
    	width: 90%;
		margin-left:auto;
		margin-right:auto;
	}
	#blur-submit-btn {
	    padding: 32px 50px 0;
    	margin-top: 86px;
    	position: relative;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.blur-contact-field {
		text-align:center;
	}
	#bg-img-row1,#bg-img-row2,#bg-img-row3,#bg-img-row4,
	#bg-img-row5,#bg-img-row6,#bg-img-row7,#bg-img-row8,
	#bg-img-row9,#bg-img-row10,#bg-img-row111{
    	background-image: none;
	}
	.hero-bg-img-row {
    	height: 800px;
	}
	.asdf {
		width:90%;
	}	
	
	
	.content_img_text1, .content_img_text2, .content_img_text3 {
		width:100%;
	}
	.inner_img_text {
    	padding:15px 20px;
	}

	.apply-btn {
    	width: 90%;
    	margin-left: auto;
    	margin-right: auto;
	}
	#put-u-first-ip {
		padding-left:0;
		left:0;
	}
	.box-icontent p {
		font-family:'filsonlight';
		padding: 0 0 0 0;
	}
	.already {
    	text-align: center;
	}
  	
}


@media only screen and (min-width: 350px) and (max-width:370px) {
	
	.body-sub-head-form {text-align:center;}
	
	.rowsss {
    	width: 100%!important;
	}
	.possible-row {
    	padding-left:0;
	}
	.auto_car_slider_bg {padding-left:0.4%;
	}
	.auto_car_slider_title {margin-top:60%;
	}
	#home-side-nav-section {
    	position: unset !important;
    	transform: translateX(0em)!important;
    	width: 100%;
    	padding-left:0;
		padding-top:100px;
		padding-bottom:50px;
	}
	#hover_boxes {display:flex;flex-wrap:nowrap;
	}
	.home-form {text-align:center;flex-direction:column;
	}
	 .hover_overtext {width:345px;
	}
	.txt-hover-img {width:100%;
	}
	#put-u-first {
		position:relative;
		left:0px; padding-left:20px;
		padding-right:20px;
		background-image:linear-gradient(180deg,#05294D 86%,#001830 85%);
	}
	
	.row-form-section {display:block;}
	#form_module {
		width:100% !important;
	}
	
	.steps p {text-align:center;}
	
	#form_module, select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required.et_pb_contact_select.input.frr.auto-car-field {
    	width: 100%;
		text-align: center;
		margin-bottom:10px;
}
	
	#form_module, .wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number.mobile-box.auto-car-field {
    	width: 100%;
		text-align: center;
		margin-bottom:10px;
}
	
	#form_module, .wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number.landline-box.auto-car-field {
    	width: 100%;
		text-align: center;
		margin-bottom:10px;
}
	
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:100% !important;
		text-align:center;
		margin-bottom:10px;
	}

	
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.blur-contact-field {
		text-align:center;
		margin-top:20px;
	}
	
	.blur-contact-container {
		display:flex;
		flex-direction:column;
		gap: 20px;
	}
	
	#blur-free-quote {
		position:relative;
		left:0; top:0px;
		z-index:227px !important;
		padding:10px 10px;
	}

	#blur-submit-btn {
		width:100% !important;
		padding: 30px 50px 30px;
		text-align: center;
	}
	
	.content_img_text1,.content_img_text2,.content_img_text3 {
		background-repeat:no-repeat;
		background-size:cover;
		width:100%;
	}
	.inner_img_text {
    	padding:15px 20px;
	}
	.entry-content table:not(.variations) {
		border: 1px solid #eee;
		margin: 0 0 15px;
		text-align: left;
		width: 100%;
	}
	.hero-bg-img-row {
		background-image:none;
	}
	#bg-img-row {
		background-image:none;
	}
	#bg-gradient-section-blog {
		display:block;
		gap:50px;
		flex-direction:column;
	}
	.video-container {flex-direction:column;
	}
	.video-slider {margin-bottom:10px;
	}
	.heading-tittle {
		font-size:48px;
		line-height:1em;
		margin-bottom:-20px;
	}
	.sub-heading {
		font-size:26px;
	}
	
	
	#blur-column {
		padding-left:20px;
	}
	.box-icontent p {
		text-align:center;
		padding-right: 0px !important;
	}
	#side-nav-section {
    	position: unset!important;
    	transform: translateX(0em) !important;
    	width: 100%;
		padding-left:0;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {text-align:center;
		width:100%;
	}
	
	
	
	select#amount-finance, input#amount-finance {
		text-align:center;
		width:100%;
		
	}
	#form-home-btn {
		text-align:center;
	}
	#blur-contact-section {
		width: 100%;
		padding: 20px;
	}
	.blur-contact-container {
		padding-left:0;
	}
	.slick-track {
		width: 6500px!important;
	}
	.comment-box {
		width:420px !important;
	}
	#set-8 {padding-left:18%;
	}
	.call-txt-free-quote-module {
    	width: 100%;
	}
	.privacy-text-col {
    	width: 100%!important;
	}
	.about-col2 {
    	width: 100%!important;
	}
	.blur-content-module {
		padding-right:0;
	}
	.blur-qoute-content {
    	width: 100%;
    
	}
	#bg-img-row1,#bg-img-row2,#bg-img-row3,#bg-img-row4,
	#bg-img-row5,#bg-img-row6,#bg-img-row7,#bg-img-row8,
	#bg-img-row9,#bg-img-row10,#bg-img-row111{
    	background-image: none;
	}
	.hero-bg-img-row {
    	height: 800px;
	}
	.asdf {
		width: 90%;		
	}
	

	.apply-btn {
    	width: 90%;
    	margin-left: auto;
    	margin-right: auto;
	}
	#put-u-first-ip {
		left:0;
		padding-left: 20px;
    	padding-right: 20px;
	}
	.already {
		text-align:center;
	}
}

@media only screen and (min-width: 370px) and (max-width:395px) {

	#bb {background-position:0;}
	
/**********************Mobile slider********************/
	
	
	.mobile_blurb_slick .et_pb_slide_title {
	font-size: 12px!important;
    	position: absolute;
    	top: -170px;
    	right: 0;
}

.mobile_blurb_slick .et_pb_slide_content {
  position:absolute;
}

.mobile_blurb_slick .et_pb_button_wrapper {
  position:absolute;
  top:150px;
}

.slider_btn_mobile {
  padding:15px 3em;
  color:#fff;
  background-color:#ffae05;
  
}

.slider_btn_mobile i {font-size:12px; margin-left:10px;}

.slider_btn_mobile a:hover {color:#fff !important;}


/*******************Mobile slider**********************************/
	
	
	.bg-gradient-section {background-image:none; padding-bottom:0;}
	
	#check_boxs {
		width:100% !important;
		padding-top:0;
		padding-bottom:0;
	}

	#arrow1 {
    	left: 21em !important;
		top:23em;
	}
	
	#arrow2 {
    	right: 0.2em !important;
    	top: 27.7em;
	}
	
	
	.body-sub-head-form {text-align:center;}
	
	.rowsss {
    	width: 100%!important;
	}
	.possible-row {
    	padding-left:0;
	}
	.auto_car_slider_bg {
		padding-left:0.4%;
	}
	.auto_car_slider_title {
		margin-top:60%;
	}
	#home-side-nav-section {
    	position: unset !important;
    	transform: translateX(0em)!important;
    	width: 100%;
    	padding-left:0;
		padding-top:100px;
		padding-bottom:50px;
	}
	#hover_boxes {
		display:flex;flex-wrap:nowrap;
	}
	.home-form {
		text-align:center; flex-direction:column;
	}
	 .hover_overtext {
		 width:390px;
		 padding-left: 20px;
    	 padding-bottom: 0px;
	}
	.txt-hover-img {
		width:100%;
	}
	
	#put-u-first {
		position:relative;
		left:0px; padding-left:20px;
		padding-right:20px;
		background-image:linear-gradient(180deg,#05294D 86%,#001830 85%);
	}
	
	.row-form-section {
		display:block;
	}
	#form_module {
		width:100% !important;
	}
	
	.steps p {
		text-align:center;
	}
	
	#form_module, select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required.et_pb_contact_select.input.frr.auto-car-field {
    	width: 100%;
		text-align: center;
		margin-bottom:10px;
}
	
	#form_module, .wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number.mobile-box.auto-car-field {
    	width: 100%;
		text-align: center;
		margin-bottom:10px;
}
	
	#form_module, .wpcf7-form-control.wpcf7-number.wpcf7-validates-as-required.wpcf7-validates-as-number.landline-box.auto-car-field {
    	width: 100%;
		text-align: center;
		margin-bottom:10px;
}
	
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:100% !important;
		text-align:center;
		margin-bottom:10px;
	}

	
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.blur-contact-field {
		text-align:center;
		margin-top:20px;
	}
	
	.blur-contact-container {
		display:flex;
		flex-direction:column;
		gap: 20px;
	}
	
	#blur-free-quote {
		position:relative;
		left:0;
		top:0px;
		z-index:227px !important;
		padding:30px 20px;
		text-align: center;
	}

	#blur-submit-btn {
		width:100% !important;
		padding: 30px 50px 30px;
		text-align: center;
	}
	
	.content_img_text1,.content_img_text2,.content_img_text3 {
		background-repeat:no-repeat;
		background-size:cover;
		width:100%;
	}
	.inner_img_text {
    	padding:15px 20px;
	}
	.entry-content table:not(.variations) {
		border: 1px solid #eee;
		margin: 0 0 15px;
		text-align: left;
		width: 100%;
	}
	.hero-bg-img-row {
		background-image:none !important;
		height:auto;
	}
	#bg-img-row {
		background-image:none !important;
	}
	#bg-gradient-section-blog {
		display:block;
		gap:50px;
		flex-direction:column;
	}
	.video-container {flex-direction:column;
	}
	.video-slider {margin-bottom:10px;
	}
	.heading-tittle {
		font-size:48px;
		line-height:1em;
		margin-bottom:-20px;
	}
	.sub-heading {
		font-size:26px;
	}
	
	
	#blur-column {
		padding-left:20px;
	}
	.box-icontent p {
		text-align:center;
		padding-right: 0px !important;
	}
	#side-nav-section {
    	position: unset!important;
    	transform: translateX(0em) !important;
    	width: 100%;
		padding-left:0;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {text-align:center;
		width:100%;
	}
	
	
	
	select#amount-finance, input#amount-finance {
		text-align:center !important;
		width:100%;
		
	}
	#form-home-btn {
		text-align:center;
	}
	#blur-contact-section {
		width: 100%;
		padding: 20px;
	}
	.blur-contact-container {
		padding-left:0;
	}
	.slick-track {
		width: 6500px!important;
	}
	.comment-box {
		width:420px !important;
	}
	#set-8 {padding-left:18%;
	}
	.call-txt-free-quote-module {
    	width: 100%;
		text-align:center;
	}
	.privacy-text-col {
    	width: 100%!important;
	}
	.about-col2 {
    	width: 100%!important;
	}
	.blur-content-module {
		padding-right:0;
	}
	.blur-qoute-content {
    	width: 100%;
    
	}
	#bg-img-row1,#bg-img-row2,#bg-img-row3,#bg-img-row4,
	#bg-img-row5,#bg-img-row6,#bg-img-row7,#bg-img-row8,
	#bg-img-row9,#bg-img-row10,#bg-img-row111{
    	background-image: none !important; 
		padding-bottom:0 !important;
	}
	
	.asdf {
		width: 90%;		
	}
	

	.apply-btn {
    	width: 90%;
    	margin-left: auto;
    	margin-right: auto;
	}
	#put-u-first-ip {
		left:0;
		padding-left: 20px;
    	padding-right: 20px;
	}
	.already {
		text-align:center;
		padding:30px 0;
	}
	
	#testimonial-column ul.slick-dots {
		margin-left: 0px !important;
	}
	
	.entry-content ul {
    	padding: 0 0 0px 0px;
	}
	.blurb_box_row {
    	transform: translateX(0px)!important;
    	width: 100%;
    	margin-right: 0px;
    	margin-left: 0;
    	position: unset!important;
	}
	
	.blurb_btn_row {
    	position: unset!important;
    	bottom: 0em;
    	right: 0px;
    	width: 100%;
	}
	
	.tab-icons {
		width:100%;
		padding-left: 20px;
    	padding-right: 30px;
	}
}

@media only screen and (min-width: 395px) and (max-width:413px) {
	.hero-bg-img-row, #bg-img-row {background-image:none !important;}
	
}


@media only screen and (min-width: 414px) and (max-width: 423px) {
	
	.arrow_down {top:auto;}
	#arrow1 {top:340px;}
	#arrow2 {right:5px !important; top:410px;}
	
	.tab-icons {
		width:100%;
	}
	
	.blurb_box_row {
    	transform:translateX(0px)!important;
		width: 100%;
    	margin-right: 0px;
    	margin-left: 0;
		position:unset !important;
		}
	
	.blurb_btn_row {
		position:unset !important;
    	width: 100%;
	}
	

	.hero_bg_img {
		background-size: unset;
		background-position: -40em;
	}
	
	.blur-qoute-content {
    	width: 100%;
		text-align:center;
    }
	.blur-content-module {
		padding-right: 0%;
	}
	.auto_car_slider_bg {padding-left:0.4%;
	}
	.slider-navs {display:none;
	}
	#home-side-nav-section {
    	position: unset !important;
    	transform: translateX(0em)!important;
    	width: 414px;
    	padding-left:0;
		padding-top:100px;
		padding-bottom:50px;
	}
	 .hover_overtext {width:412px;
	}
	.possible-row {
    	padding-left: 0;
	}
	.txt-hover-img {height:unset;
	}
	#hover_boxes {display:flex;flex-wrap:nowrap;
	}
	
	.row-form-section {
		display:block;
	}
	.video-container {
		flex-direction:column;
		gap:50px;
	}
	#form_module .wpcf7-form-control::placeholder {
		text-align:left;
	}
	input.dropdown-box {
		width: 383px!important;
	}	
	.home-form  {
		flex-direction:column;text-align:center;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		text-align:center;
		width:100% !important; 
	}
	#form-home-btn {
		text-align:center;
		width:100% !important;
	}
	input#apply-btn {
		width:85%;
	}
	#form_module {
		width:100% !important;
	} 
	.asdf {
		width:90% !important;
	}
	.content_img_text1,.content_img_text2,.content_img_text3 {
		background-repeat:no-repeat;
		background-size:cover;
		width:100%;
	}
	
	
	.inner_img_text {
    	padding:15px 20px;
	}

	.apply-btn {
    	width: 90%;
		margin-left:auto;
		margin-right:auto;
	}
	.tab-icons {
		padding-left:20px;
		padding-right:20px;
	}
	.entry-content table:not(.variations) {
		width: 100%;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.blur-contact-field {text-align:center;
	}
	
	.pad-blur-row {
		padding-left:20px;
		padding-right:20px;
	}
	.blur-contact-container {
		padding-left:20px !important;
		flex-direction: column;
	}
	#blur-free-quote {
		padding:10px 10px;
		left:0 !important;
		top:0 !important;
	}
	#blur-submit-btn {
		width:100% !important;
		padding: 30px 80px 30px;
		text-align:center;
	}
	.auto_car_slider_title {
		margin-top:55%;
		font-size:64px;
	}
	.auto_car_slider_description {font-size:32px;
	}
	#put-u-first {
		position:relative;
		left:0px;
		padding-left:20px!important;
		padding-right:20px!important;
		background-image: linear-gradient(180deg,#05294D 87%,#001830 87%);
	}
	.call-txt-free-quote-module {
		width:100%;
		text-align:center;
	}
	.wpcf7-form-control-wrap {
		text-align:center;
	}
	.heading-tittle {
		font-size:52px;
	}
	.sub-heading {
		font-size:28px;
	}
	.pad-row {
		padding-left:20px;
		padding-right:20px;
	}
	#side-nav-section {
    	position: unset !important;
    	top: 0px;
    	bottom: auto;
    	right: auto;
    	transform: translateX(0em) !important;
		width:100% !important;
	}
	#set-8 {
    	width: 60%;
    	margin-left: auto;
    	margin-right: auto;
	}
	#side-nav-pulse {
		width:425px !important;
	}
	#bg-img-row, #bg-img-row1, #bg-img-row2, #bg-img-row3, 
	#bg-img-row4, #bg-img-row5, #bg-img-row6, #bg-img-row7, #bg-img-row8,
	#bg-img-row9,#bg-img-row10,#bg-img-row111{
		background-image:none !important;
	}
	.hero-bg-img-row {
    	height: auto;
		background-image:none !important;
	}
	.content_box {
		display:flex;
		flex-direction:row;
		gap:10px;
		position:relative;
		left:0px;
	}
	.box-icontent p {
		text-align:center;
		padding-right:0px !important;
	}
	#mouse_pulse {
		width: 0%;
    	position: absolute!important;
    	top: 120%;
    	bottom: auto;
    	left: 50%;
    	right: auto;
	}
	select#amount-finance, input#amount-finance {
		text-align:center;
		width:100%;
	}
	.slick-track {
		width: 6590px !important;
	}
	.comment-box {
		width:426px !important;
	}
	.asdf {
		width: 90%;
	}

	#put-u-first-ip {
		left:0;
		padding-left: 20px;
    	padding-right: 20px;
		background-image: linear-gradient(180deg,#05294D 87%,#001830 87%);
	}
	.already {
		text-align:center;
	}
}


@media only screen and (min-width: 425px) and (max-width: 600px) {
	
	.arrow_down {top:auto;}
	#arrow1 {top:340px; left: 23.2em !important;}
	#arrow2 {right:5px;top:410px; right: 0.4em !important;}
	
	
	.possible-row {
    	padding-left: 0;
	}
	
	.auto_car_slider_bg {
		padding-left:0.4%;
	}
	.comment-box {
		width:435px !important;
	}
	.slick-track {
		width:5490px !important;
		transform: translate3d (-416px, 0px, 0px) !important;
	}
	
	#set-8 {
		width:51%;
		margin-left:auto;
		margin-right:auto;
	}
	#home-side-nav-section {
		padding-left:0;
		position: unset!important;
    	transform: translateX(0em)!important;
		padding-bottom:50px;
		width:100%;
	}
	input.blur-contact-field {
		text-align:center;
	}
	#blur-contact-section {
    	width: 95%;
	}
	#hover_boxes {
		display:flex;
		flex-wrap:nowrap;
	}
	.hover_overtext {
		width:426px;
	}
	select#amount-finance, input#amount-finance {
		text-align:center;width:100%;
	}
	.row-form-section {
		display:block;
	}
	.video-container {
		flex-direction:column;
		gap:50px;
	}
	#form_module .wpcf7-form-control::placeholder {
		text-align:left;
	}
	input.dropdown-box {
		width: 383px!important;
	}
	
	.home-form  {
		flex-direction:column;
		text-align:center;
	}
	
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		text-align:center;
		width:100% !important;
	}
	#form-home-btn {
		text-align:center;
	}
	input#apply-btn {
		width:85%;
	}
	#form_module {
		width:100% !important;
	} 
	.asdf {
		width:90% !important;
	}
	.content_img_text1,.content_img_text2,.content_img_text3 {
		background-repeat:no-repeat;
		background-size:cover;
		width:100%;
	}
	.hero-bg-img-row {
    	height: 650px;
	}
/* 	.content_box_ip_row {
    	width: 1010px;
    	position: unset;
    	top: 0em;
    	left: 0em;
		display:unset;
	}
	.content_box_ip_col {
		width:100%;
		overflow-x:auto;
	} 
	.content_box {
		flex-direction:row;
		gap:10px;
		position:relative;
	}
	
	#gallery-cta {
		width:1295px;
		left: 0em;
	}*/
	
	.apply-btn {
		left:0;
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	.inner_img_text {
		padding-left:25px;
	}
	.tab-icons {
		padding-left:20px;
		padding-right:20px;
	}
	.entry-content table:not(.variations) {
		width: 100%;
	}
	.pad-blur-row {
		padding-left:20px;
		padding-right:20px;
	}
	.blur-contact-container {
		padding-left:20px !important;
		flex-direction: column;
	}
	#blur-free-quote {
		padding:10px 10px;
		left:0 !important;
		top:0 !important;
	}
	#blur-submit-btn {
		width:100% !important;
		padding:32px 100px 0;
		text-align:center;
	}
	.blur-qoute-content {
    	width: 100%;
	}
	.auto_car_slider_title {
		margin-top:55%;
		font-size:64px;
	}
	.auto_car_slider_description {font-size:32px;
	}
	#put-u-first {
		position:relative;
		left:0px;
		padding-left:20px!important;
		padding-right:20px !important;
		background-image: linear-gradient(180deg,#05294D 87%,#001830 87%);
	}
	.call-txt-free-quote-module {width:100% !important;padding:20px 30;
	}
	.already {text-align:center;
	}
	.wpcf7-form-control-wrap {text-align:center;
	}
	.heading-tittle {font-size:52px;
	}
	.sub-heading {font-size:28px;
	}
	.pad-row {
		padding-left:20px;
		padding-right:20px;
	}
	#side-nav-section {
    	position: unset !important;
		padding-left:0;
    	transform: translateX(0em) !important;
		width:100% !important;
		
	}
	#side-nav-pulse {
		width:425px !important;
	}
	#bg-img-row, #bg-img-row1, #bg-img-row2, #bg-img-row3, 
	#bg-img-row4, #bg-img-row5, #bg-img-row6, #bg-img-row7, 
	#bg-img-row8,#bg-img-row9,#bg-img-row10,#bg-img-row111, {
		background-image:none;
	}

	.box-icontent p {
		text-align:center;
		padding-right:0px !important;
	}
	#mouse_pulse {width: 0%;
    	position: absolute!important;
    	top: 120%;
    	bottom: auto;
    	left: 50%;
    	right: auto;
	}
	.txt-hover-img {
		width:100%;
	}
	#hero-logo-column {
    	width: 100%;
	}
	#put-u-first-ip {
		left:0;
		padding:4%;
		background-image: linear-gradient(180deg,#05294D 89%,#001830 89%);
	}
}

@media only screen and (min-width: 600px) and (max-width: 698px) {
	
	#hero-logo-column {
    	width: 40%;
	}
	.auto_car_slider_bg {
		padding-left:0.4%;
	}
	#home-side-nav-section {
		position:unset !important;
		width:100%;
		transform: translateX(0em)!important;
		padding-bottom:50px;
		padding-top:100px;
	}
	#set-8 {
		width:40%;
		margin-left:auto;
		margin-right:auto;
	}
	.slider-navs {
		display:none;
	}
	#hover_boxes {
		display:flex;
		flex-wrap:nowrap;
	}
	.hover_overtext {
		width:426px;
	}
	.blur-qoute-content {
    	width: 100%;
	}
		
	.row-form-section {
		display:block;
	}
	.video-container {
		flex-direction:column;
		gap:50px;
	}
	#form_module .wpcf7-form-control::placeholder {
		text-align:left;
	}
	input.dropdown-box {
		width: 383px!important;
	}
	select#amount-finance, input#amount-finance {
		text-align:center;
		width:266px;
	}
	
	.home-form  {
		flex-direction:unset;
		align-items: center;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		text-align:center;
		width:100% !important;
	}
	#form-home-btn {
		text-align:center;width:85%;margin:auto;
	}
	input#apply-btn {
		width:100%;
	}
	#form_module {
		width:100%;
	} 
	.asdf {
		width:90% !important;
	}
	.content_img_text1,.content_img_text2,.content_img_text3 {
		background-repeat:no-repeat;
		background-size:cover;
		width:100% ;
	}
/* 	.content_box_ip_row {
    	width: 1010px;
    	position: unset;
    	top: 0em;
    	left: 0em;
		display:unset;
	}
	.content_box_ip_col {
		width:100%;
		overflow-x:auto;
	}	
	#gallery-cta {
		left: 0em;
		width: 915px;
	}
	.content_box {
		display:flex;
		flex-direction:row;
		gap:10px;
		position:relative;
	} */
	.apply-btn {
		left:0;
		width:70%;
		margin-left:auto;
		margin-right:auto;
		
	}
 	.inner_img_text {
		padding:50px 10px 50px;
	} 
	
	.tab-icons {
		padding-left:20px;
		padding-right:20px;
	}
	.entry-content table:not(.variations) {
		width: 100%;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.blur-contact-field {text-align:center;
	}
	
	#blur-contact-section {
    	width: 100%;
	}
	.blur-contact-container {
    	padding-left: 20px;
		padding-right:20px;
    	flex-direction: column;
	}
	.pad-blur-row {
		padding-left:20px;
		padding-right:20px;
	}
	.blur-contact-container {
		padding-left:20px;
		flex-direction: column;
	}
	#blur-free-quote {
		padding:10px 10px;
		left:0 !important;
		top:0 !important;
	}
	#blur-submit-btn {
		width:100% !important;
		padding: 32px 200px 0px;
	}
	.auto_car_slider_title {
		margin-top:55%;
		font-size:64px;
	}
	.auto_car_slider_description {
		font-size:32px;
	}
	#put-u-first {
		position:relative;
		left:0px;
		padding-right:20px;
		padding-left:20px!important;
		background-image: linear-gradient(180deg,#05294D 80%,#001830 80%);
	}
	.call-txt-free-quote-module {
		width:100%;
	}
	.wpcf7-form-control-wrap {
		text-align:center;
	}
	.heading-tittle {
		font-size:52px;
	}
	.sub-heading {
		font-size:28px;
	}
	.pad-row {
		padding-left:20px;
		padding-right:20px;
	}
	#side-nav-section {
    	position: unset !important;
		padding-left:0;
    	transform: translateX(0em) !important;
		width:100% !important;
	}
	#side-nav-pulse {
		width:425px !important;
	}
	#bg-img-row, #bg-img-row1, #bg-img-row2, #bg-img-row3, 
	#bg-img-row4, #bg-img-row5, #bg-img-row6, #bg-img-row7, #bg-img-row8 {
		background-image:none;
	}
	
	.box-icontent p {
		text-align:center;
		padding-right:0px !important;
	}
	#mouse_pulse {width: 0%;
    	position: absolute!important;
    	top: 120%;
    	bottom: auto;
    	left: 50%;
    	right: auto;
	}
	.slick-track {
		width: 6900px !important;
	}
	.comment-box {
		width:526px !important;
	}
	.already {text-align:center;} 
	
	#put-u-first-ip {
		left:0;
		padding-left: 6%;
    	padding-right: 6%;
		background-image: linear-gradient(180deg,#05294D 85%,#001830 85%);
	}
}

@media only screen and (min-width: 698px) and (max-width: 767px) {
	
	#hero-logo-column {
    	width: 51%;
	}
	.auto_car_slider_title {
		margin-top:50%;
	}
	#home-side-nav-section {
		position:unset !important;
		width:100%;
		transform: translateX(0em)!important;
		padding-bottom:50px;
		padding-top:100px;
		padding-left: 0%;
	}
	#side-nav-section {
    	position: unset !important;
    	transform: translateX(0em) !important;
    	width: 100%;
		padding-bottom:50px;
		padding-top:100px;
		padding-left: 0%;
	}
	#set-8 {
		flex-direction:row !important;
	}
	.hr-dashed {
		display:none;
	}
	.hi-icon {
		margin:20px 20px 20px 20px !important;
	}
	.txt-hover-img {    
    	width: 47%;
    	height: auto;
    	margin: auto;
	}
	#put-u-first {
		left:0;
		padding-left: 4%;
		padding-right:4%;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:100%;
	}
	select#amount-finance, input#amount-finance {
		width:307px;
	}
	.possible-row {
    	padding-left:0;
	}
	.blur-contact-container {
		padding-left:12%;
	}
	.call-txt-free-quote-module {
    	width: 100%;
	}
	.blur-content-module {
		padding-right:0;
	}
	#blur-submit-btn {
		padding: 42px 65px;
	}
	#blur-free-quote {
		left:0;
		top:0;
		padding-left: 0;
	}
	.blur-qoute-content {
    	width: 85%;
    	margin-left: auto;
    	margin-right: auto;
	}
/* 	#gallery-cta{
		left:0;
		width:1080px;
	}
	.content_box {
		display:flex;
		flex-direction:row;
		gap:10px;
		position:relative;
	}
	.content_box_ip_row {
    	width: 1010px;
    	position: unset;
    	top: 0em;
    	left: 0em;
		display:unset;
	}
	.content_box_ip_col {
		width:100%;
		overflow-x:auto;
	} */
	.apply-btn {
    	width: 70%;
    	margin-left: auto;
    	margin-right: auto;
	}
}

@media only screen and (min-width: 768px) and (max-width:810px) {
	
	.hi-icon {margin: 20px 25px 20px 20px !important;
	}
	#nav-menu-column {
		width: 69% !important;
	}
	#hero-logo-column {
		width:30%;
	}
	#home-side-nav-section {
		position:unset !important;
		width:100%;
		padding-left:0;
		padding-bottom:50px;
		padding-top:100px;
		transform:translateX(0em)!important;
	}
	.auto_car_slider_bg {
		padding-left:1%;
	}
	.auto_car_slider_title {
		margin-top:50%;
	}
	select#amount-finance, input#amount-finance {
		width:300px;
	}
	#hover_boxes {
		flex-wrap:nowrap;
	}
	.txt-hover-img {
		width:100%;
	}
	.hover_overtext {
		width:600px;
	}
	
	#blur-column {
		padding-left:10%;
	}
	#blur-free-quote {
		left:0px;
		top:0px;
		padding-left:10%;
	}
	.blur-contact-container {
		padding-left:11%;
	}
	#blur-submit-btn {
		padding:32px 9%;
		width:100% !important;
	}
	
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:300px;
	}
		
	#put-u-first {
		left:0;
		padding-left:10%;
		padding-right:10%;
		background-image:linear-gradient(180deg,#05294D 85%,#001830 85%);
	}
	
	#side-nav-section {
    	position: unset !important;
    	transform: translateX(0em) !important;
    	width: 100%;
		padding-bottom:50px;
		padding-top:100px;
		padding-left: 0%;
	}
	#side-nav-pulse {
		width: 768px !important;
		padding: 50px 0;
	}
	#set-8 {
		flex-direction:row !important;
	}
	.hr-dashed {
		display:none;
	}
	.possible_text_column {
		padding-left:4%;
	}
	.asdf {
		width: 90%;
	}
	
/* 	.content_box_ip_row {
    	width: 1010px;
    	position: unset;
    	top: 0em;
    	left: 0em;
		display:unset;
	}
	.content_box_ip_col {
		width:100%;
		overflow-x:auto;
	} */
	.inner_img_text {
    	padding: 60px 20px 70px;
	}
	.apply-btn {
    	width: 50%;
    	margin-left: auto;
    	margin-right: auto;
	}
/* 	#gallery-cta {
		left:0;
		width:768px;
	}
	.content_box {
		display:flex;
		flex-direction:row;
		gap:10px;
		position:relative;
	} */
	.hero-bg-img-row {
		background-image:none !important;
	}
	.call-txt-free-quote-module {
		width: 100%;
	}
	.box-icontent p {
		font-size:12px;
		padding-right:0;
	}
	.slick-track {
		width: 7890px !important;
	}
	.comment-box {
		width:500px !important;
	}
	.possible-row {
    	padding-left: 0%;
	}
	.possible-column {padding-left:10%;}
	
}

@media only screen and (min-width: 811px) and (max-width: 900px) {
	
	#home-side-nav-section {
		position:unset !important;
		transform: translateX(0em)!important;
		width:100%;padding-top:100px;padding-left:0;
		padding-bottom:50px;
	}
	#set-8 {
		flex-direction:row !important;
	}
	#nav-menu-column {
		width: 84%;
	}
	#nav-button-column {width: 27%;
	} 
	.hr-dashed {display:none;
	}
	.possible-row {
    	padding-left: 0%;
	}
	.txt-hover-img {   	
    	width: 48%;
    	height: auto;
	}
	.possible-column {
		padding-left:10%;
	}
/* 	.content_box_ip_row {
    	width: 1010px;
    	position: unset;
    	top: 0em;
    	left: 0em;
		display:unset;
	}
	.content_box_ip_col {
		width:100%;
		overflow-x:auto;
	}
	#gallery-cta{
		left:0;
		width:810px;
	}
	.content_box {
		display:flex;
		flex-direction:row;
		gap:10px;
		position:relative;
	} */
	.apply-btn {
    	width: 60%;
    	margin-left: auto;
    	margin-right: auto;
	}
	
	#side-nav-section {
    	position: unset !important;
    	transform: translateX(0em) !important;
    	width: 100%;
		padding-bottom:50px;
		padding-top:100px;
		padding-left: 0%;
	}
	#side-nav-pulse {
		width:325px;
		left:41em;
		padding-bottom:57px;
	}
	.hi-icon {
    	margin: 20px 20px 20px 20px!important;
	}		

	.hi-icon-wrap.hi-icon-effect-8 p {
		font-size:12px;
	}
	#blur-submit-btn {
		padding:32px 71px;
		width:100%;
	}
	#blur-free-quote {
		padding-top:8px;
		padding-left:10%;
		left:0;
		top:0px;
	}
	.blur-qoute-content {
    	width: 90%;
	}
	.inner_img_text {
		padding-left:20px;
		padding-right:20px;
		padding-top:20px;
		padding-bottom:20px;
		font-family:
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:300px;
	}
	select#amount-finance, input#amount-finance {
		width:300px;
	}
	.hero-bg-img-row {
		background-size:576px;
		background-position:-12em 0;
	}
	.dashed-pointer {display:none;
	} 
	#put-u-first {
		position:relative;
		left:0px;
		padding-left:10%;
		background-image:linear-gradient(180deg,#05294D 88%,#001830 88%);
	}
	.call-txt-free-quote-module {
		width:90%;
	}
	.heading-tittle {
		font-size:48px;
	}
	.sub-heading {
		font-size: 26px;
	}
	
	.blur-contact-container {
		padding-left:78px;
	}
	.blur-content-module {
		padding-right:20%;
	}
	.auto_car_slider_title {
		margin-top:38%;
	}	
	.asdf {
    	width: 90%;
    	margin-left: auto;
    	margin-right: auto;
	}
	#bg-img-row1,#bg-img-row2,#bg-img-row3,#bg-img-row4,
	#bg-img-row5,#bg-img-row6,#bg-img-row7,#bg-img-row8 {
    	background-image: none;
	}
	
	.icon_box_content_mod {
		width:400px;		
	}
	
}

@media only screen and (min-width:901px) and (max-width:960px) {
	
	#home-side-nav-section {
		position:unset !important;
		transform: translateX(0em)!important;
		width:100%;padding-top:100px;padding-left:0;
		padding-bottom:50px;
	}
	#side-nav-section {
    	position: unset!important;
    	transform: translateX(0em)!important;
    	width: 100%;
    	padding-bottom: 50px;
    	padding-top: 100px;
    	padding-left: 0%;
	}
	.hi-icon {
    	margin: 20px 20px 20px 20px!important;
	}
	#set-8 {
		flex-direction:row !important;
	}
	#nav-menu-column {width: 84%;
	}
	#nav-button-column {width: 27%;
	} 
	.txt-hover-img {
       	width: 48%;
    	height: auto;
	}
	
	.hr-dashed {display:none;
	}
	.possible-row {
    	padding-left: 0%;
	}
	.possible-column {padding-left:10%;
	}
	
/* 	.content_box_ip_row {
    	position: unset;
    	top: 0em;
    	left: 0em;
		display:unset;
	}
	.content_box_ip_col {
		width:100%;
		overflow-x:auto;
	}
	#gallery-cta{
		left:0;
		width:1080px;
	}
	.content_box {
		display:flex;
		flex-direction:row;
		gap:10px;
		position:relative;
	} */
	.apply-btn {
    	width: 50%;
    	margin-left: auto;
    	margin-right: auto;
	}
/* 	#bg-img-row1,#bg-img-row2,#bg-img-row3,#bg-img-row4,
	#bg-img-row5,#bg-img-row6#bg-img-row7,#bg-img-row8 {
		background-image:none;
	} */
	
	#side-nav-pulse {
		width:325px;
		left:41em;
		padding-bottom:57px;
	}
	
	.hi-icon-wrap.hi-icon-effect-8 p {
		font-size:12px;
	}
	#blur-submit-btn {
		padding:32px 71px;
		width:100%;
	}
	#blur-free-quote {
		padding-top:8px;
		padding-left:10%;
		left:0;
		top:0px;
	}
	.inner_img_text {
		padding-left:20px;
		padding-right:20px;
		padding-top:20px;
		padding-bottom:20px;
		font-family:
	}
	.asdf {
		width:85%;
	}
		
	.dashed-pointer {
		display:none;
	} 
	#put-u-first {
		position:relative;
		left:0px;
		padding-left:10%;
		background-image:linear-gradient(180deg,#05294D 87%,#001830 87%);
	}
	.call-txt-free-quote-module {
		width:87%;
	}
	
	.heading-tittle {
		font-size:48px;
	}
	.sub-heading {
		font-size: 26px;
	}
	
	
	.blur-contact-container {
		padding-left:78px;
	}
	.blur-content-module {
		padding-right:20%;
	}
	.hero-bg-img-row {
		background-image:none !important;
/* 		background-position:-12em 0; */
		height:400px !important;
	}
	
}


@media only screen and (min-width: 960px) and (max-width: 980px) {
	
	#home-side-nav-section {
		position:unset !important; transform: translateX(0em)!important;
		width:100%;padding-top:100px;padding-left:0;padding-bottom:50px;
	}
	#side-nav-section {
    	position: unset!important;
    	transform: translateX(0em)!important;
    	width: 100%;
    	padding-bottom: 50px;
    	padding-top: 100px;
    	padding-left: 0%;
	}
	#nav-menu-column {
    	width: 84%;
	}
	#set-8 {flex-direction:row !important;
	}
	.hr-dashed {
		display:none;
	}
	.hi-icon {
		margin: 20px 25px 20px 20px !important;
	}
	.call-txt-free-quote-module {
    	width: 75%;
	}
	.possible-row {
    	padding-left: 0;
	}
	#put-u-first {left:0;
	}
	.possible-column {
		padding-left: 10%;
    	padding-right: 10%;
	}
	.txt-hover-img {
    	width: 48%;
    	height: auto;
	}
	#blur-free-quote {
		top:0;
		left:0;
	}
/* 	.content_box_ip_row {
    	width: 1010px;
    	position: unset;
    	top: 0em;
    	left: 0em;
		display:unset;
	}
	.content_box_ip_col {
		width:100%;
	}
	#gallery-cta{
		left:0;
		width:965px;
	}
	.content_box {
		display:flex;
		flex-direction:row;
		gap:10px;
		position:relative;
	} */
	.apply-btn {
    	width: 40%;
	}
	.hero-bg-img-row {
		background-image:none !important;
/* 		background-position:-12em 0; */
		height:400px !important;
	}
	.asdf {
		width:85%;
	}
	
}

@media only screen and (min-width: 981px) and (max-width: 1023px) {
	
	.auto_car_slider_title {
		margin-top:38%;
	}
	#home-side-nav-section {
		position:unset !important;
		transform: translateX(0em)!important;
		width:100%;padding-top:100px;padding-bottom:50px;padding-left:0;
	}
	#side-nav-section {
    	position: unset!important;
    	transform: translateX(0em)!important;
    	width: 100%;
    	padding-bottom: 50px;
    	padding-top: 100px;
    	padding-left: 0%;
	}
	#set-8 {
		flex-direction:row !important;
	}
	.hr-dashed {display:none;
	}
	.hi-icon {margin-left:20px !important;
	}
	.txt-hover-img {
    	width: 47%;
    	height: auto;
	}
	.hover_overtext {
		padding-left:10px;
		padding-right:10px;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:220px;
	}
	select#amount-finance, input#amount-finance {
		width:220px;
	}
	#put-u-first {
		padding-left:4%;
		background-image: linear-gradient(180deg,#05294D 85%,#001830 85%);
	}
	.call-txt-free-quote-module {
    	width: 93%;
	}
	.dashed-pointer {display:none;
	}
	.blur-qoute-content {
    	width: 89%;
	}
	#blur-free-quote {
    	padding-bottom: 24.5px;
    	padding-left: 4%;
    	left: -19px;
    	top: 130px;
	}
	#blur-submit-btn {
		padding: 48.5px 67px;
	}
	.blur-contact-container {
		padding-left:17%;
	}
	#nvr-been-easy h3 {
		text-align:center;
	}
/* 	.content_box_ip_row {
    	width: 1010px;
    	position: unset;
    	top: 0em;
    	left: 0em;
		display:unset;
	}
	.content_box_ip_col {
		width:100% !important;
		overflow-x:auto;
	}
	#gallery-cta{
		left:0;
		width:1080px;
	}
	.content_box {
		display:flex;
		flex-direction:row;
		gap:10px;
		position:relative;
	} */
	.apply-btn {
    	width: 50%;
	}
 
}


@media only screen and (min-width: 1024px) and (max-width: 1038px) {
	
	.auto_car_slider_title {
		margin-top:30%;
	}
	#nav-button-column {
    	width: 27%;
	}
	#home-side-nav-section {		
		transform: translateX(42em)!important;
		width:31%;
		padding-top:100px;
		padding-bottom:282px;
	}
	
	.slider-navs {
    	position: absolute;
    	bottom: -282px;
    	right: 167px;
    	width: 220px;
	}
	#side-nav-section {
    	position: absolute !important;
    	transform: translateX(42.3em)!important;
    	width: 31%;
		padding-bottom: 43.5px;
		padding-top: 120px;	
	}
	.txt-hover-img {
     	width: 232px; 
	} 
	.hover_overtext {
    	width: 300px;
	} 
	.dashed-pointer {display:none;
	}
	#blur-submit-btn {
    	width: 100%;
		padding: 55.1px 71px;
	}
	#blur-free-quote {
		padding-top: 8px;
    	padding-left: 10%;
		padding-right:10%;
    	left: -15px;
    	top: 131px;
	}
	.blur-contact-container {padding-left:17%;
	}
	#put-u-first {
		padding-left:4%;
		left:0;
		background-image:linear-gradient(180deg,#05294D 86%,#001830 86%);
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {width:200px;
	}
	select#amount-finance, input#amount-finance {width:200px;
	}
	.possible-row {padding-left:7.5%;
	}
	.call-txt-free-quote-module {
    	width: 90%;
	}
	.bg-gradient-section {
    	background-image: linear-gradient(90deg,rgba(0,0,0,0) 677px,#edf4fc 0%);
	}
	
}

@media only screen and (min-width: 1038px) and (max-width: 1074px) {
	
	.auto_car_slider_title {
		margin-top:30%;
	}
	#nav-button-column {
    	width: 27%;
	}
	#home-side-nav-section {		
		transform: translateX(42em)!important;
		width:34%;
		padding-top:100px;
		padding-bottom:281px;
	}
	
	.slider-navs {
    	position: absolute;
    	bottom: -281px;
    	right: 204px;
    	width: 220px;
	}
	#side-nav-section {
    	position: absolute !important;
    	transform: translateX(51.3em)!important;
    	width: 31%;
		padding-bottom: 55.5px;
		padding-top: 120px;	
	}
	.txt-hover-img {
     	width: 232px; 
	} 
	.hover_overtext {
    	width: 300px;
	} 
	.dashed-pointer {display:none;
	}
	#blur-submit-btn {
    	width: 100%;
		padding: 55.1px 71px;
	}
	#blur-free-quote {
		padding-top: 8px;
    	padding-left: 10%;
		padding-right:10%;
    	left: -15px;
    	top: 131px;
	}
	.blur-contact-container {padding-left:17%;
	}
	#put-u-first {
		padding-left:4%;
		left:0;
		background-image:linear-gradient(180deg,#05294D 86%,#001830 86%);
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {width:200px;
	}
	select#amount-finance, input#amount-finance {width:200px;
	}
	.possible-row {padding-left:7.5%;
	}
	.call-txt-free-quote-module {
    	width: 90%;
	}
	.bg-gradient-section {
    	background-image: linear-gradient(90deg,rgba(0,0,0,0) 677px,#edf4fc 0%);
	}
	
}

@media only screen and (min-width: 1074px) and (max-width: 1100px) {
	
	#nav-button-column {
		width:28%;
	}
	#home-side-nav-section {		
		transform: translateX(43em)!important;
		width:33%;
		padding-top:100px;
		padding-bottom:281.5px;
	}

	.slider-navs {
    	position: absolute;
    	bottom: -281.5px;
    	right: 206px;
    	width: 220px;
	}
		
	#side-nav-section {
    	position: absolute !important;
    	transform: translateX(51.3em)!important;
    	width: 31%;
		padding-bottom: 55.5px;
		padding-top: 120px;	
	}
	.bg-gradient-section {
    	background-image: linear-gradient(90deg,rgba(0,0,0,0) 693px,#edf4fc 0%);
	}
	.txt-hover-img {
       	width: 47%;
    	height: auto;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:200px;
	}
	select#amount-finance, input#amount-finance {
		width:200px;
	}
	.call-txt-free-quote-module {
    	width: 84%;
	}

	.blur-qoute-content {
    	width: 83%;
	}

	#blur-submit-btn {
    	padding: 45px 90px;
	}

	#blur-free-quote {
    	padding-top:17.5px;
    	padding-left:7%;
    	top:130px;    
	}
	#put-u-first {
		padding-left:3%;
		background-image: linear-gradient(180deg,#05294D 84%,#001830 84%);
	}

} 

@media only screen and (min-width: 1100px) and (max-width: 1172px) {
	
	#nav-button-column {
    	width: 28%;
	}
	#home-side-nav-section {		
		transform: translateX(47.8em)!important;
		width:30%;
		padding-top:100px;
		padding-bottom:281.5px;
	}
	.slider-navs {
    	position: absolute;
    	bottom: -281.5px;
    	right: 180px;
    	width: 220px;
	}
	#side-nav-section {
    	position: absolute !important;
    	transform: translateX(51.3em)!important;
    	width: 31%;
		padding-bottom: 55.5px;
		padding-top: 120px;	
	}
	.bg-gradient-section {
    	background-image: linear-gradient(90deg,rgba(0,0,0,0) 770px,#edf4fc 0%);
	}
	.txt-hover-img {
       	width: 48%;
    	height: auto;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:230px;
	}
	select#amount-finance, input#amount-finance {
		width:230px;
	}
	.call-txt-free-quote-module {
    	width: 84%;
	}

	.blur-qoute-content {
    	width: 83%;
	}

	#blur-submit-btn {
    	padding: 45px 90px;
	}

	#blur-free-quote {
    	padding-top:17.5px;
    	padding-left:7%;
    	top:130px;
    
	}
	#put-u-first {
		padding-left:3%;
		background-image: linear-gradient(180deg,#05294D 84%,#001830 84%);
	}
}

@media only screen and (min-width: 1172px) and (max-width: 1200px) {
	
	#nav-button-column {
    	width: 25%;
	}
	#home-side-nav-section {		
		transform: translateX(49.8em)!important;
		width:30%;
		padding-top:100px;
		padding-bottom:280.5px;
	}
	.slider-navs {
    	position: absolute;
    	bottom: -280.5px;
    	right: 202px;
    	width: 220px;
	}
	#side-nav-section {
    	position: absolute !important;
    	transform: translateX(51.3em)!important;
    	width: 31%;
		padding-bottom: 55.5px;
		padding-top: 120px;	
	}
	.bg-gradient-section {
    	background-image: linear-gradient(90deg,rgba(0,0,0,0) 802px,#edf4fc 0%);
	}
	.txt-hover-img {
       	width: 47%;
    	height: auto;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:270px;
	}
	select#amount-finance, input#amount-finance {
		width:270px;
	}
	.call-txt-free-quote-module {
    	width: 84%;
	}

	.blur-qoute-content {
    	width: 83%;
	}

	#blur-submit-btn {
    	padding: 45px 90px;
	}

	#blur-free-quote {
    	padding-top:17.5px;
    	padding-left:7%;
    	top:130px;
    
	}
	#put-u-first {
		padding-left:3%;
		background-image: linear-gradient(180deg,#05294D 84%,#001830 84%);
	}
}

@media only screen and (min-width: 1200px) and (max-width:1266px) {
	
	.auto_car_slider_title {
		margin-top:28%;
	} 
	#home-side-nav-section {
		transform: translateX(54em)!important;
		width:345px;padding-left:3%;padding-bottom: 242.2px;
	}
	.slider-navs {
    	bottom: -242px;
    	right: 194.5px;
	}
	#side-nav-section {
    	transform: translateX(54.3em)!important;
    	width: 24%;
    	padding-left: 3%;
		padding-bottom:44.5px;
		padding-top:133px;
	}
	
	.txt-hover-img {
    	border: solid 1px #001930;
    	width: 48%;
    	height: auto;
	}
	
	#put-u-first {
    	position: relative;
    	left: -35px;
    	padding-left: 4%;
    	background-image: linear-gradient(180deg,#05294D 83%,#001830 83%);
	}
	
	.call-txt-free-quote-module {
    	width: 85%;
	}
	
		
	#blur-free-quote {padding-left:4%;
		padding-top:20px;
		top:131px;
	}
	
	.blur-qoute-content {width:85%;
	}

	#blur-submit-btn {
		width:100%;
		padding: 47px 83px;
	}
	
	.blur-contact-container {padding-left:17%;
	}
	
	
	
	.topnav {
		overflow:hidden;
		width:815px;
	}
	#links-item {
		position:relative;
		left:20px;
	}
	#side-column-header {
		width:1095px;
	}
	#side-nav-pulse {
		width: 350px;
	}
	
	#bg-gradient-section-blog {
	background-image: linear-gradient(90deg,rgba(0,0,0,0) 1130px,#edf4fc 0%)!important;
	}
	
	.bg-gradient-section {
	background-image: linear-gradient(90deg,rgba(0,0,0,0) 869px,#edf4fc 0%)!important;
	}

	.pad-row {padding-left:80px;padding-right:80px;}
	
	#blur-column {padding-left:80px;}
	
	.hero-bg-img-row {background-size: 650px;}
	
.box-link1, .box-link2, .box-link3, .box-link4, .box-link5, .box-link6 {
  	border:solid 1px #001930;
  	width:450px;

	padding:80px 20px;
	}
	select#amount-finance, input#amount-finance {
		width:260px;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:260px;
	}
	
}


 @media only screen and (min-width: 1266px) and (max-width: 1284px) {
	
	
	.txt-hover-img {
    	width: 48%;
    	height: auto;
	}
	#put-u-first  {padding-left:50px;
	}
	.dashed-pointer {display:none;
	}
	.asdf {width:70%;
	}
	.content_box {left:8.5px;
	 }
	.hero-bg-img-row {background-position:-17%;
	}
	#blur-column {padding-left:80px;
	}
	 .blur-qoute-content {
    	width: 80%;
	}
	#blur-submit-btn {
		width:100%;
		padding:47px 88px;
	}
	#hero-logo-column {
		width:12%;
	}
	#nav-menu-column {
		width: 61%;
	}
	#nav-button-column {
		width: 21%;
	} 
	
	input.dropdown-box {
		width: 631px !important;
	}
	select.frr {
		width:300px;
	}
	select.state-box,select.frr,
	input.landline-box, input.mobile-box {
		width:300px;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:300px;
	}
	 select#amount-finance, input#amount-finance {
		 width:300px;		 
	 }
	.dashed-pointer {
		position: relative;
		width: 600px !important;
	}
	.call-txt-free-quote-module {
		width: 90%;
	}
	.blur-contact-container {
		padding-left:116px;
	}
	#blur-column {
		padding-left:80px;
	}
	#blur-free-quote {
		padding-left:34px;
		top:130px;
	}
	#nvr-been-easy h3 {
		font-size:28px;
	}
	
	#home-side-nav-section {
		transform:translateX(56em)!important;
		width:330px!important;
		padding-bottom: 243.5px;
	}
	.slider-navs {
    	position: absolute;
    	bottom: -243.5px;
    	right: 194.5px;
    	width: 205px;
	}
 	#side-nav-section {
		position:absolute !important;
		transform: translateX(58.4em) !important; 
		padding-bottom: 63px;
		padding-top: 139px;
		width:24%;
	} 
	#side-nav-pulse {
		float:right;
		padding-bottom:69px;
		left:4px;width:313px;
	}
	.bg-gradient-section {
		background-image:linear-gradient(90deg,rgba(0,0,0,0) 901px,#edf4fc 0%)!important;
	}
}

@media only screen and (min-width: 1284px) and (max-width: 1316px) {
	
	.txt-hover-img {
    	width: 48%;
    	height: auto;
	}
	#put-u-first  {padding-left:2%;
	}
	.dashed-pointer {display:none;
	}
	.asdf {width:70%;
	}
	.content_box {left:8.5px;
	 }
	.hero-bg-img-row {background-position:-17%;
	}
	#blur-column {padding-left:80px;
	}
	 .blur-qoute-content {
    	width: 80%;
	}
	#blur-submit-btn {
		width:100%;
		padding:47px 88px;
	}
	#hero-logo-column {
		width:12%;
	}
	#nav-menu-column {
		width: 61%;
	}
	#nav-button-column {
		width: 23%;
	} 
	
	input.dropdown-box {
		width: 631px !important;
	}
	select.frr {
		width:300px;
	}
	select.state-box,select.frr,
	input.landline-box, input.mobile-box {
		width:300px;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:300px;
	}
	 select#amount-finance, input#amount-finance {
		 width:300px;		 
	 }
	.dashed-pointer {
		position: relative;
		width: 600px !important;
	}
	.call-txt-free-quote-module {
		width: 92%;
	}
	.blur-contact-container {
		padding-left:116px;
	}
	#blur-column {
		padding-left:80px;
	}
	#blur-free-quote {
		padding-left:4%;
		top:130px;
	}
	#nvr-been-easy h3 {
		font-size:28px;
	}
	.nvr-been-txt {
		font-size:32px; !important
	}
	#home-side-nav-section {
		transform:translateX(56em)!important;
		width:360px!important;
		padding-bottom: 241.5px;
	}
	.slider-navs {
    	position: absolute;
    	bottom: -241.5px;
    	right: 224.5px;
    	width: 205px;
	}
 	#side-nav-section {
		position:absolute !important;
		transform: translateX(58.4em) !important; 
		padding-bottom: 63px;
		padding-top: 139px;
		width:24%;
	} 
	#side-nav-pulse {
		float:right;
		padding-bottom:69px;
		left:4px;width:313px;
	}
	.bg-gradient-section {
		background-image:linear-gradient(90deg,rgba(0,0,0,0) 901px,#edf4fc 0%)!important;
	}
}

@media only screen and (min-width: 1316px) and (max-width: 1360px) {
	
	#nav-button-column {
    	width: 20.5%;
	}
	#home-side-nav-section {
		transform:translateX(59em)!important;
		width:360px!important;
		padding-bottom: 241.5px;
	}
	.slider-navs {
    	position: absolute;
    	bottom: -241.5px;
    	right: 224.5px;
    	width: 205px;
	}
 	#side-nav-section {
		position:absolute !important;
		transform: translateX(58.4em) !important; 
		padding-bottom: 63px;
		padding-top: 139px;
		width:24%;
	}
	.bg-gradient-section {
		background-image:linear-gradient(90deg,rgba(0,0,0,0) 949px,#edf4fc 0%)!important;
	}
	.txt-hover-img {
       	width: 48%;
    	height: auto;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:280px;
	}
	#put-u-first {
		padding-left:4%;
	}
	select#amount-finance, input#amount-finance {
		width:280px;
	}
	.call-txt-free-quote-module {
		width:91%;
	}
	
	#blur-submit-btn {
    	padding: 45px 99px;
	}

	#blur-free-quote {
    	padding-top:17.5px;
    	padding-left:7%;
    	top:130px;
    
}
	
}

@media only screen and (min-width: 1360px) and (max-width: 1400px) {
	
	#nav-button-column {
    	width: 23%;
	}
	#home-side-nav-section {
		transform:translateX(59em)!important;
		width:390px!important;
		padding-bottom: 241.5px;
	}
	.slider-navs {
    	position: absolute;
    	bottom: -241.5px;
    	right: 254.5px;
    	width: 205px;
	}
 	#side-nav-section {
		position:absolute !important;
		transform: translateX(58.4em) !important; 
		padding-bottom: 63px;
		padding-top: 139px;
		width:24%;
	}
	.bg-gradient-section {
		background-image:linear-gradient(90deg,rgba(0,0,0,0) 949px,#edf4fc 0%)!important;
	}
	.txt-hover-img {
       	width: 48%;
    	height: auto;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:280px;
	}
	select#amount-finance, input#amount-finance {
		width:280px;
	}
	#put-u-first {
		padding-left:4%;
	}
	.call-txt-free-quote-module {
    	width: 96%;
	}
	#blur-submit-btn {
    	padding: 45px 99px;
}

	#blur-free-quote {
    	padding-top:24.5px;
    	padding-left:7%;
    	top:130px;
    }
	.blur-qoute-content {
    	width: 84%;
	}
	
}

@media only screen and (min-width: 1400px) and (max-width: 1441px) {
	
	#hero-logo-column {
    	width: 10%;
	}
	#nav-menu-column {
    	width: 60%;
	}
	#nav-button-column {
    	width: 20.5%;
	}
	#home-side-nav-section {
		transform:translateX(64em)!important;
		left:16px !important; 
		width:380px!important;
		padding-bottom: 241px;
	}
	.slider-navs {
		right: 228.5px;
		bottom:-241px;
	}
	#side-nav-section {
		position:absolute !important;
		transform: translateX(58.4em) !important; 
		padding-bottom: 63px;
		padding-top: 139px;
		width:24%;
	} 
	.bg-gradient-section {
		background-image:linear-gradient(90deg,rgba(0,0,0,0) 1040px,#edf4fc 0%)!important;
	}
	.txt-hover-img {       	
		width: 48%;
    	height: auto;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:300px;
	}
	 select#amount-finance, input#amount-finance {
		width:300px;		 
	 }
	.call-txt-free-quote-module {
    	width: 90%;
	}
	#blur-submit-btn {
    	width: 100%;
    	padding: 46.5px 95px;
    }
	#blur-free-quote {
		padding-left:4%;
		top:130px;
	}
	
}



@media only screen and (min-width: 1441px) and (max-width: 1469px) {
	
	#hero-logo-column {
    	width: 12%;
	}
	#nav-menu-column {
    	width: 60%;
	}
	#nav-button-column {
    	width: 20.5%;
	}
	.possible-row {
    	padding-left: 7.5% !important;
	}
	
	.txt-hover-img {
    	width: 48%;
    	height: auto;
	}
	.bg-gradient-section {
		background-image: linear-gradient(90deg,rgba(0,0,0,0) 1062.5px,#edf4fc 0%)!important;
	}
	.asdf {
		width:70%;
	}
	.content_box {
		left:8.5px;
	}
	.hero-bg-img-row {
		background-position:-17%;
	}
	#blur-column {
		padding-left:80px;
	}
	#blur-submit-btn {
		width:745px;
		padding:46px 105px;
	}
	
	input.dropdown-box {
		width: 631px !important;
	}
	select.frr {
		width:300px;
	}
	select.state-box, select.frr,
	input.landline-box, input.mobile-box {
		width:300px;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {width:300px;
	}
	.dashed-pointer {
    position: relative;
    width: 600px !important;
	}
	.call-txt-free-quote-module {width: 88%;
	}
	.blur-contact-container {padding-left:116px;
	}
	#blur-column {padding-left:80px;
	}
	#blur-free-quote {
		padding-left:34px;
		top: 131px;
		padding-top: 37.5px;
    	padding-bottom: 30.5px;
	}
	.blur-qoute-content {
    	width: 96%;
	}
	#nvr-been-easy h3 {font-size:28px;
	}
	.nvr-been-txt {font-size:32px; !important
	}
		
	#home-side-nav-section {
		transform:translateX(65.4em)!important;
		left:16px !important;
		width:352px !important;
		padding-bottom: 242.5px;
	}
	.slider-navs {position:absolute;
		bottom: -242.5px;
		right:216.5px;
		width: 205px;
	}
 	#side-nav-section {
		position:absolute;
		transform: translateX(70.4em) !important;
		padding-bottom: 68.6px;
		width:24%;
	} 
	#side-nav-pulse {
		float:right;
		padding-bottom:69px;
		left:4px;
		width:345px;
	}
	select#amount-finance {
		width:300px;
	}
}

@media only screen and (min-width: 1469px) and (max-width: 1560px) {
	
	.blurb_box_row {
		transform:translateX(510px)!important;
		width: 64%;
    	max-width: 947px;
	}
	.blurb_img_mod {
    	padding-top: 130px;
	}
	
	.blurb_box_col {
		padding-bottom:25px;
	}
	
	.hero_bg_img {
    	background-size: unset;
    	background-position-x: -18em;
	}	
	
	#hero-logo-column {
    	width: 13%;
	}
	#nav-menu-column {
    	width: 60%;
	}
	#nav-button-column {
    	width: 15.5%;
	}
	.auto_car_slider_title {
		margin-top:25%;
	}
	
	#home-side-nav-section {
    	padding-top: 214px;
    	transform: translateX(72.15em)!important;
    	width: 325px!important;
    	padding-bottom: 177.5px;
	}
	.slider-navs {
    	bottom: -177.5px;
    	right: 178px;
	}
	#side-nav-section {
		position:absolute;
		transform: translateX(72.5em) !important;
		padding-bottom: 59.6px;
		width:320px;
	} 
	.bg-gradient-section {
		background-image: linear-gradient(90deg,rgba(0,0,0,0) 1160px,#edf4fc 0%)!important;
	}
	
	.txt-hover-img {
    	width: 48%;
    	height: auto;
	}
	#put-u-first {
		padding-left:6%;
		left:-45px;
	}
	.call-txt-free-quote-module {
		width: 88%;
	}
	
	#blur-submit-btn {
		padding:45px 105px;
	}
	.blur-contact-container {
		padding-left:115px;
	}
	#blur-free-quote {
		top:129.1px;
		padding-left: 3%;
		padding-top: 41.5px;
    	padding-bottom: 35.5px;
	}
	.blur-qoute-content {
    	width: 92%;
    	margin-top: auto;
    	margin-bottom: auto;
	}
	.asdf {
		width:80%;
	}
	.possible-deals-text {
    	padding-top: 70px;
	}
	.possible-column {
		padding-left:7%;
	}
	.hero-bg-img-row {
		background-size:38%;
		height: 900px;
	}
	.dashed-pointer {
		width:553px;
	}

	.inner_img_text {
    	padding: 25px 10px 30px;
	}
	
	.apply-btn {
    	width: 31.7%;
    	left: 13px;
	}
	.content_img_text1, .content_img_text2, .content_img_text3 {
    	width: 600px;
	}
	
	.bepart_content_box_ip_row {
    	max-width: 983px;
    	left: 30.8em;
    	bottom: 322px;
    	width: 100%;
    }
	.bepart_content_box_ip_col {
    	width: 98.7%!important;
	}
	
	select#amount-finance, input#amount-finance {
		width:320px;
	}
	
	.home-form {
		width:85%;
	}
	
}


 
@media only screen and (min-width: 1600px) and (max-width:1680px) {
	
	#nav-menu-column {width:60%;
	}
	#nav-button-column {width:16%;
	}
	
	#side-nav-pulse {float:right;
	}
	.bg-gradient-section {
		background-image: linear-gradient(90deg,rgba(0,0,0,0) 1216px,#edf4fc 0%)!important;
	}
	
	#home-side-nav-section {
		transform:translateX(75em)!important;
		left:16px !important; width:355px!important;
		padding-bottom: 242px;
	}
	.slider-navs {
    	right: 203.5px;
    	bottom: -242.6px;
	}
	
	.txt-hover-img {       	
		width: 48%;
    	height: auto;
	}
	input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.auto-car-field {
		width:300px;
	}
	 select#amount-finance, input#amount-finance {
		width:300px;		 
	 }
	.call-txt-free-quote-module {
    	width: 90%;
	}
	.blur-contact-container {padding-left:16%;
	}
	#blur-submit-btn {
    	width: 100%;
    	padding: 46.5px 108px;
    }
	#blur-free-quote {
		padding-left:4%;
		top:130px;
	}
	.call-txt-free-quote-module {
    width: 79%;
}
	
}



@media only screen and (min-width: 1680px) and (max-width:1800px) {
	
	.hero_bg_img {
    	background-size: inherit;
    	background-position-x: -11em;
	}
	
	.auto_car_slider_title {
		margin-top: 20%;
	}
	.txt-hover-img {
		width:48%;
	}

	 .hero-bg-img-row {
		background-size: 38%;
    	background-position: unset;
    	height: 1150px;}
	
	.dashed-pointer {
		position: relative;
		width: 665px !important;
	}		
	
	#nav-menu-column {
		width: 60%;
	}
	#nav-button-column {
		width: 15.5%;
	}
	.hover_overtext {
    	padding-right: 60px;
    	padding-left: 25px;
    	padding-bottom: 25px;
	}
	.blur-contact-container {    
    	padding-left: 125px;
	}
	
	#blur-submit-btn {
		width:830px;
		padding:50px 120px;
	}
	
	
	#blur-free-quote {
    	padding-top: 48px;
    	padding-bottom: 40.5px;
    	padding-left: 10%;
    	left: -15px;
    	top: 129px;
	}
	.blur-qoute-content {
    	width: 90%;
	}
	
	.bg-gradient-section {background-image: linear-gradient(90deg,rgba(0,0,0,0) 1288px,#edf4fc 0%)!important;}
	
	#side-nav-section {
		position:absolute;
		transform:translateX(80.5em) !important;
		width:22%;
	}
	
	#side-nav-pulse {width:428px;
		float:right;
		padding-bottom:49px;
	}
	
	#home-side-nav-section {
    	padding-bottom: 170px;
    	padding-top: 220px;
    	transform: translateX(80.15em)!important;
    	width: 390px;
	}
	
	.slider-navs {
    	bottom: -170.5px;
    	right: 239px;
    	width: 220px;
	}
	.rowsss {
    	width: 85%!important;
	}
	.call-txt-free-quote-module {
    	width: 79%;
	}
	
	#put-u-first-ip,#put-u-first {
		left:0;
	}
	.possible-deals-text {
    	padding-top: 90px;
	}
	.possible-column {
		padding-left:120px;
	}
	
	.bepart_content_box_ip_row {
    	max-width: 1231px;
    	left: 34em;
    	bottom: 16em;
    	width: 66.7%;
	}
	
	.bepart_content_box_ip_col {
    	width: 96.5%!important;
	}
	

	.inner_img_text {
    padding: 140px 15px 30px;
	}
	.asdf {
    	width: 80%;
    	margin-left: auto;
    	margin-right: auto;
	}
	
	.blurb_box_row {
    transform: translateX(558px)!important;
		width: 63%;
	}
	
	.blurb_img_mod1 {
    	padding-top: 195px;
	}
	.blurb_box_col {
    	padding-top: 0;
		padding-bottom: 50px;
	}
	.apply-btn {
    	
    	left: -23px;
    	top: -155px;
	}
	
}


@media only screen and (min-width: 1820px) and (max-width:1920px) {
	

	
	.asdf {
		width:70%;
	}
	#put-u-first {
		left:-45px;
	}
	#home-side-nav-section {
        padding-bottom: 188.5px;
    	transform: translateX(91.6em)!important;
    	width: 400px;
    	left: 5px;
		padding-top: 201px;
	}
	.slider-navs {
      	bottom: -189px;
		right:255px;
    	
	}
	#side-nav-section {
		transform:translateX(91.9em)!important;;
	}
	
	.possible-row {
    	padding-left: 7.5% !important;
	}
	.call-txt-free-quote-module {
    	width: 71% !important;
	}
	#blur-submit-btn {
		width:100%;
		padding: 63px 142px;
	}
	#blur-free-quote { 
     	padding: 56.6px 12%;
	}
	
	#nav-button-column {width: 14.2%;
	}
	
	.dashed-pointer {
    	position: relative;
    	width: 750px !important;
    	top: -25px;
    	left: 8px;
	}
	.txt-hover-img {
    	width: 48%;
	}
	
	#side-nav-pulse {
		width:424px;
		float:right;
		padding-bottom:50px;
	}	
		
	.bg-gradient-section {
		background-image: linear-gradient(90deg,rgba(0,0,0,0) 1470px,#edf4fc 0%)!important;
	}
	.blur-qoute-content {
    	width: 95%;
	}

	.apply-btn {
    	width: 26%;
	}
}