/*
 Theme Name:     Autocar Insurance Divi Child
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/




/* =Theme customization starts here
------------------------------------------------------- */
@font-face {
    font-family: 'FilsonProRegular';
    src: url('./fonts/FilsonProRegular.otf') format('otf');
}

@font-face {
    font-family: 'FilsonProMedium';
    src: url('./fonts/FilsonProMedium.otf') format('otf');
}

@font-face {
    font-family: 'FilsonProLight';
    src: url('./fonts/FilsonProLight.otf') format('otf');
}

@font-face {
    font-family: 'FilsonProHeavy';
    src: url('./fonts/FilsonProHeavy.otf') format('otf');
}

@font-face {
    font-family: 'FilsonProBook';
    src: url('./fonts/FilsonProBook.otf') format('otf');
}

@font-face {
    font-family: 'FilsonProBold';
    src: url('./fonts/FilsonProBold.otf') format('otf');
}

@font-face {
    font-family: 'FilsonProBlack';
    src: url('./fonts/FilsonProBlack.otf') format('otf');
}

@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.eot?xgi8qh');
    src: url('./fonts/icomoon.eot?xgi8qh#iefix') format('embedded-opentype'),
        url('./fonts/icomoon.ttf?xgi8qh') format('truetype'),
        url('./fonts/icomoon.woff?xgi8qh') format('woff'),
        url('./fonts/icomoon.svg?xgi8qh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'autofont';
    src: url('./fonts/autocar-fonts/icomoon.eot?xgi8qh');
    src: url('./fonts/autocar-fonts/icomoon.eot?xgi8qh#iefix') format('embedded-opentype'),
        url('./fonts/autocar-fonts/icomoon.ttf?xgi8qh') format('truetype'),
        url('./fonts/autocar-fonts/icomoon.woff?xgi8qh') format('woff'),
        url('./fonts/autocar-fonts/icomoon.svg?xgi8qh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


@font-face {
    font-family: 'icnpage';
    src: url('fonts/icons-page/icomoon.eot?exjb5r');
    src: url('fonts/icons-page/icomoon.eot?exjb5r#iefix') format('embedded-opentype'),
        url('fonts/icons-page/icomoon.ttf?exjb5r') format('truetype'),
        url('fonts/icons-page/icomoon.woff?exjb5r') format('woff'),
        url('fonts/icons-page/icomoon.svg?exjb5r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icnp-"],
[class*=" icnp-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icnpage' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icnp-right-fit:before {
    content: "\e901";
    color: #fff;
}

.icnp-obligation-free:before {
    content: "\e902";
    color: #fff;
}

.icnp-low-interest:before {
    content: "\e903";
    color: #fff;
}


[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icn-"],
[class*=" icn-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'autofont' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icn-next-long:before {
    content: "\e910";
    color: #fff;
}

.icn-accplus:before,
.et_pb_toggle .et_pb_toggle_title:before {
    content: "\e90c" !important;
}

.icn-accminus:before,
.et_pb_toggle_open .et_pb_toggle_title:before {
    content: "\e90d" !important;
}

.et_pb_toggle .et_pb_toggle_title:before,
.et_pb_toggle_open .et_pb_toggle_title:before {
    font-family: 'autofont' !important;
}

.icn-prev:before {
    content: "\e90e";
}

.icn-next:before {
    content: "\e90f";
}

.icn-road-assist:before {
    content: "\e906";
}

.icn-reporting:before {
    content: "\e907";
}

.icn-maintenance:before {
    content: "\e908";
}

.icn-protection:before {
    content: "\e909";
}

.icn-fuel:before {
    content: "\e90a";
}

.comment-text {
    color: #003b6d;
    font-size: 16px !important;
    font-family: 'filsonlight';
}

h3.author {
    margin-top: 30px;
    color: #00294f;
    padding-bottom: 5px;
}

#testi-cont p {
    font-family: 'filsonlight';
    color: #2e9fd7;
}

.icn-finance:before {
    content: "\e90b";
}

.icn-caret-long-forward:before {
    content: "\e905";
    color: #ffae00;
}

.icn-caret-forward:before {
    content: "\e904";
    color: #ffae00;
}

.icn-key:before {
    content: "\e900";
}

.icn-gear:before {
    content: "\e902";
}

.icn-wheel:before {
    content: "\e903";
}

.icn-equip:before {
    content: "\e901";
}


.icon-next:before {
    content: "\e900";
    color: #fff;
}

.icon-prev:before {
    content: "\e902";
    color: #fff;
}


.auto_car_slider_bg {
    height: 916px;
    padding-left: 1.7%;
}

body.page-template-default.page {
    background: #fff;
}


/* HOMEP PAGE */
.fadeIn {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    animation-play-state: running;
    animation-fill-mode: forwards;

}

.fadeOut {
    animation: fadeOut ease 2s;
    -webkit-animation: fadeOut ease 2s;
    -moz-animation: fadeOut ease 2s;
    -o-animation: fadeOut ease 2s;
    -ms-animation: fadeOut ease 2s;
    animation-play-state: running;
    animation-fill-mode: forwards;

}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* FADE OUT */
@-moz-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav li ul {
    width: 285px !important;
}

.et-menu li li a {
    width: 100% !important
}

.auto_car_slider_title {
    font-family: 'filsonbold', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 74px;
    color: #ffffff !important;
    line-height: 0.9em;
    text-transform: capitalize;
    margin-top: 16%;
}

.auto_car_slider_description {
    font-family: 'filsonregular', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 1.3em;
    color: #ffffff;
    margin-top: 35px;
}

.auto_car_slider_link {
    color: #FFFFFF !important;
    border-color: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
    font-size: 22px;
    font-family: 'filsonmedium', Helvetica, Arial, Lucida, sans-serif !important;
    background-color: #E09900;
    padding: 20px 60px;
    margin-top: 45px;
    display: inline-block;
}


.slide-slick img {
    width: 100% !important;
    height: 100% !important;
}

#slider-video-slides {
    width: 85%;
    margin: 0 auto;
}

#comment-slider .slick-track {
    display: flex !important;
}

#comment-slider .slick-track .slick-slide {
    border: 1px solid;
    padding-bottom: 20px;
}

#comment-slider .comment-box {
    padding: 60px 20px 20px 20px;
}

#comment-slider .slick-slide {
    margin-left: 15px;
    margin-right: 15px;
}

#comment-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
    pointer-events: none;
}

#comment-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
    pointer-events: none;
}

button.slick-prev.slick-arrow,
a.slick-prev.slick-arrow {
    background-color: #FFAE02;
    border: none;
}

a.slick-next.slick-arrow {
    background-color: #001830;
    border: none;
}

.slick-arrow {
    padding: 30px 0;
    display: inline-grid;
    width: 70px;
    height: 70px;
    text-align: center;
}

.slider-navs {
    position: absolute;
    bottom: -253px;
    right: 232px;
    width: 219px;
}

a.slick-prev.slick-arrow {
    margin-right: -5px;
}

#sliderCount {
    float: right;
    color: #fff;
    margin-top: 13px;
    font-size: 14px;

}

.wpcf7-form-control::placeholder {
    color: #fff;
}

/* BLOG */
.breadcrumbs_searchbar {
    display: flex;
    justify-content: space-between;
}

#breadcrumbs a {
    color: #00294f;
    font-weight: 600;
    margin-right: 15px;
}

#breadcrumbs a:hover {
    color: #31cafc
}

#breadcrumbs a i.icn-caret-forward {
    font-size: 0.5em;
    padding-left: 10px;
}

.search-field {
    background: url("./assets/search.png") no-repeat;
    background-position-x: right;
    border: 0 !important;
    border-bottom: 1px solid #ccd4dc !important;
    width: 300px;
}

.search-field::placeholder,
.search-field {
    color: #001930 !important;
    font-family: 'filsonregular', Helvetica, Arial, Lucida, sans-serif;
}

h3.entry-title {
    margin-bottom: -5px;
}

.related-post-title a {
    color: #001930 !important;
}

.related-posts-container {
    display: flex;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.related-post-img .img-featured {
    filter: blur(5px);
}

.related-post-item.home-post {
    flex-basis: 29.9% !important;
    flex-grow: 0;
}

.home-post .related-post-item-category {
    display: none;
}

.related-post-item {
    width: 100%;
    height: 340px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    flex-basis: 47%;
}

.related-post-item a {
    display: block;
}

.related-post-item a:hover {
    color: #fff !important;
}


.related-post-item a.AnimationIn>img {
    animation: lightUp 1s;
    animation-fill-mode: forwards;
}

.related-post-item a.AnimationOut>img {
    animation: lightDown 1s;
    animation-fill-mode: forwards;
}


@keyframes lightUp {
    from {
        filter: blur(5px) brightness(0.85);
    }

    to {
        filter: blur(0px) brightness(1);
    }
}

@keyframes lightDown {
    from {
        filter: blur(0px) brightness(1);
    }

    to {
        filter: blur(5px) brightness(0.85);
    }
}

.related-post-title,
.related-post-excerpt,
.related-post-date,
.related-post-item-category {
    position: absolute;
    left: 0;
    z-index: 100;
}


.related-post-item.single-post {
    flex-basis: 100% !important;
    height: 500px;
}

.related-post-item img {
    animation-name: lightDown;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    filter: blur(5px) brightness(0.85);
    z-index: 1;

}

.related-post-item button {
    position: absolute;
    z-index: 100;
    bottom: 10%;
    left: 7%;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.05rem;
}

.related-post-item button>i.icn-caret-long-forward {
    font-size: 0.85rem;
    margin-left: 10px;
}


.related-post-title {
    top: 35%;
    left: 8%;
    font-size: 1.43rem;
    font-weight: 600;
    font-family: 'filsonbold';
}

.related-post-item-category {
    top: 20%;
    left: 8%;
    font-size: 1.43rem;
    z-index: 100;
}

.related-post-item-count {
    position: absolute;
    z-index: 100;
    right: 30px;
    top: 20px;
}

.cat-items {
    font-size: 0.58em;
    font-weight: 600;
    padding: 2px 35px;
    border-radius: 5px;
}

.related-post-date {
    top: 45%;
    left: 8%;
    font-size: 0.85rem;
}

.related-post-excerpt {
    top: 55%;
    left: 8%;
    font-family: filsonlight, sans-serif;
    padding-right: 40px;
}

.category-links {
    list-style-type: none !important;
    margin-left: 0;
    padding-left: 0 !important;
}

ul.category-links li a {
    text-transform: capitalize;
    color: #b7b2b2;
    line-height: 2.2em;
}

a.slick-prev.slick-arrow:hover {
    color: #ffffff !important;
}

.comment-navs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.comment-navs a.slick-arrow {
    color: #001930;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.comment-navs a>span.prev-num {
    text-indent: 10px;
}

.comment-navs a>span.next-num {
    text-indent: 10px;
    margin-right: 10px;
}

.comment-navs a>span {
    font-weight: normal !important;
}

#map {
    height: 799px;
}

/* CONTACT US */
#drop-sendmsg-btn:after {
    content: "\e910";
    color: #fff;
    font-family: "autofont" !important;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 8px;
}

#drop-sendmsg-btn {
    padding: 10px 55px !important;
}

.address-info .et_pb_blurb_content {
    max-width: 100%;
}

.address-info .et_pb_main_blurb_image {
    padding-top: 6px;
}

.address-info .et_pb_blurb_description {
    font-size: calc(13px + (15 - 13)*((100vw - 320px)/(1920 - 320))) !important;
}

.referral-fields {
    display: flex;
    gap: 10px 42px;
}

.referral-inputs input::placeholder {
    color: #00294f;
    font-size: 16px;
}

.referral-inputs input {
    color: #00294f !important;
    border-bottom: 1px solid #bbbbbb57;
    padding-bottom: 20px;
    font-family: 'filsonlight' !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    font-size: 16px;
    width: 100%;
}

#referral-form-container h3 {
    font-size: 20px;
    color: #00294f;
    margin-bottom: 8px;
}

#referral-form-container button.et_pb_button {
    background-color: #ffae05;
    border-radius: 0;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: 'filsonregular';
    padding: 10px 39px;
    margin-top: 70px;
}

#referral-form-container .wpcf7-not-valid-tip,
#referral-form-section .wpcf7-response-output {
    color: #dc3232 !important;
}

#blog-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

#blog-pagination-numbers a {
    color: #202020;
}

ul#blog-pagination-numbers {
    color: #202020;
    display: flex;
    list-style: none;
    column-gap: 10px;
}

ul#blog-pagination-numbers a {
    color: #a2a2a2;
    cursor: pointer;
}

a#prevLink,
#nextLink {
    padding: 12px 35px;
    cursor: pointer;
}

a#prevLink {
    background: #bbcdd1;
    margin-right: 20px;
    color: #427080;
}

#nextLink {
    background-color: #ffae02;
    color: #fff;
}

@media all and (max-width: 500px) {
    .related-posts-container {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}

@media (min-width: 1980px) and (max-width:2560px) {
    #home-side-nav-section {
        width: 424px !important;
        left: 174px !important;
    }
}