@font-face {
  font-family: 'icnpage';
  src: url('fonts/icons-page/icomoon.eot?exjb5r');
  src: url('fonts/icons-page/icomoon.eot?exjb5r#iefix') format('embedded-opentype'),
    url('fonts/icons-page/icomoon.ttf?exjb5r') format('truetype'),
    url('fonts/icons-page/icomoon.woff?exjb5r') format('woff'),
    url('fonts/icons-page/icomoon.svg?exjb5r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icnp-"],
[class*=" icnp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icnpage' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icnp-right-fit:before {
  content: "\e901";
  color: #fff;
}

.icnp-obligation-free:before {
  content: "\e902";
  color: #fff;
}

.icnp-low-interest:before {
  content: "\e903";
  color: #fff;
}